[2015-06-16 19:01] scls19fr opened #1 "Fix badges"
Badges need to be fixed.
see https://github.com/badges/pypipins/issues/39

[2015-06-16 19:02] scls19fr opened #2 "Low "health""
Health (code quality) should be improved

see https://landscape.io/github/scls19fr/windrose/

[2015-06-16 19:05] scls19fr opened #3 "Pip package, unit test, continuous integration"
A pip package should be made
Unit tests should be added (Nose or Pytest)
Continuous Integration (Travis) should be made. We might use `miniconda` and not use pip to install requirements (at least matplotlib and Numpy, maybe Pandas)

[2015-06-16 19:11] scls19fr opened #4 "Weibul distribution"
This is maybe slightly out of the scope of this project but fitting a Weibull distribution could be something to be considered.

https://en.wikipedia.org/wiki/Weibull_distribution

http://www.boost-technologies.com/web/fr/windfields.html
![weibull_winter_small](https://cloud.githubusercontent.com/assets/109167/8192070/083140ec-146c-11e5-8788-9d092411af72.png)

http://stackoverflow.com/questions/17

[2015-06-16 19:12] scls19fr opened #5 "Timeseries and Pandas"
Some example with Pandas should be given.

[2015-06-17 16:28] scls19fr opened #6 "Merge with other projects"
See other projects to provide most of their features
- https://github.com/arifwn/thorn
  - thorn.py provides a PyQt application
- https://github.com/aladagemre/windrose-drawer
  - provide a command line interface to display wind rose from CSV or XLS or XLSX data

[2015-06-17 16:32] scls19fr opened #7 "IPython notebook"
Create an IPython (Jupyter) notebook and make it available through nbviewer http://nbviewer.ipython.org/

[2015-06-17 19:52] scls19fr commented on #2
health is now > 75%

[2015-06-17 19:52] #2 closed

[2015-06-17 20:28] scls19fr commented on #3
This is nearly done but Travis CI raises:

    RuntimeError: Invalid DISPLAY variable

Previously a warning

    /home/travis/miniconda/envs/test-environment/lib/python2.7/site-packages/matplotlib/__init__.py:1318: UserWarning:  This call to matplotlib.use() has no effect
    because the backend has already been chosen;
    matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
    or

[2015-06-18 05:40] scls19fr commented on #3
Fixed using

    before_install:
      - "export DISPLAY=:99.0"
      - "sh -e /etc/init.d/xvfb start"

[2015-06-18 05:40] #3 closed

[2015-06-18 05:41] scls19fr commented on #7
Done

See:

http://nbviewer.ipython.org/github/scls19fr/windrose/blob/master/windrose_sample.ipynb

[2015-06-18 05:41] #7 closed

[2015-06-18 12:26] #1 closed

[2015-06-19 05:55] scls19fr commented on #5
Done
https://github.com/scls19fr/windrose/blob/master/samples/example_np_mpl_oo.py

[2015-06-19 05:55] #5 closed

[2015-06-19 05:56] scls19fr opened #8 "Scatter plot (with alpha)"

[2015-06-19 10:53] #8 closed

[2015-06-19 10:54] scls19fr commented on #4
That's done but it should display parameter on plot

[2015-06-19 10:55] scls19fr opened #9 "plot_windrose should be usable with both Numpy arrays and Pandas DataFrame"
`plot_windrose` should be usable with both Numpy arrays and Pandas DataFrame. This function should be usable if Numpy is installed but not Pandas.

[2015-06-19 10:58] scls19fr opened #10 "plot_windrose should provide a "by" parameter"
When feeding plot_windrose with a DataFrame with columns: speed, direction, year_month, passing by='year_month' should plot several plot (on subplots)
similar to http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.hist.html

[2015-06-19 11:01] scls19fr commented on #9
This function should be usable if Numpy is installed but not Pandas

[2015-06-20 11:37] scls19fr opened #11 "animate plot_windrose"
animate `plot_windrose`

[2015-06-20 11:41] #9 closed

[2015-06-20 15:16] scls19fr commented on #11
This example http://matplotlib.org/1.4.2/examples/animation/moviewriter.html should help.

[2015-07-07 19:30] scls19fr commented on #10
Might be useful to define a shape (number of rows and number of columns)

    import math

    def shape_from(n):
        if n % 2 != 0:
            n_even = n + 1
        else:
            n_even = n

        sqrt_n = math.sqrt(n)

        Ncol = math.ceil(sqrt_n)
        Nrow = math.ceil(n_even / Ncol)

        return(Nrow, Ncol)

    for n in range(1, 20+1):
        sh = shape_from(n)
        p

[2015-07-07 19:43] scls19fr commented on #10
ToDo : several pages (figures)

[2015-08-07 06:18] cqcn1991 opened #12 "It's just so nice to see this module"
No issue reported here, just want to say thank you, since there is no places for `discussion`.
I'm just wondering what field are you guys in? My field is Civil Engineering, and our main focus is on the wind effect on buildings, so the wind speed is an essential part for us.

[2015-08-09 06:08] scls19fr commented on #12
Hi @cqcn1991,

can you send me an email
https://github.com/scls19fr/

thanks

[2015-08-27 09:20] scls19fr commented on #10
https://github.com/scls19fr/windrose/blob/master/samples/example_pdf_by.py

only scatter plot are supported

![windrose_2011](https://cloud.githubusercontent.com/assets/109167/9517077/6bcf43d2-4cad-11e5-89b4-be3bd819cebe.png)
![windrose_2012](https://cloud.githubusercontent.com/assets/109167/9517078/6bd2aad6-4cad-11e5-8ce3-02046667328a.png)
![windrose_2013](https://cloud.githubusercontent.com/asse

[2015-09-07 23:37] ocefpaf commented on #12
:+1:

I used to copy `windrose.py` everywhere and/or to copy the code inside packages that I needed.  It is awesome to see this packaged

FYI I just create a conda package for it:

https://github.com/ioos/conda-recipes/pull/420/files

[2015-09-08 04:13] scls19fr commented on #12
Thanks. I never did a conda package.

[2015-10-13 08:36] cosstas opened #13 "Windrose legend typo"
First of all thank you for this useful tool.

I have noticed a typo error in line 170 in windrose.py. There is an open bracket "[" at the end of wind speed range instead of "]".
See attached image for the error:

![windrose_893_221](https://cloud.githubusercontent.com/assets/15102684/10449780/73d2eed8-719e-11e5-8cb4-1a3f148dd73b.png)

[2015-10-13 11:36] scls19fr commented on #13
it's not a typo

    [0.1 : 1.0[

means

    0.1 <= speed < 1.0

and

    [1.0 : 1.9[

means

    1.0 <= speed < 1.9

it shouldn't be `[0.1 : 1.0]` because for wind speed of 1.0 m/s there will be 2 colors.

[2015-10-13 13:44] cosstas commented on #13
I see, thank you for the clarification!

[2015-10-13 13:44] #13 closed

[2015-10-19 16:34] akrherz opened #14 "Allow for specifying `rmax` to plot"
When generating lots of windrose plots for timelapses or comparisons, it is useful to have stable polar maximum radius set.  Would you consider an addition of allowing the max radius to be specified instead of dynamically computed from the data?  thanks

[2015-10-19 18:26] scls19fr commented on #14
Yes. Nice suggestion. I'm quite busy these days but I'm open to pull requests.

[2015-11-05 22:26] slharris opened #15 "ValueError: radial grids must be strictly positive"
I am having issues with windrose when receiving this error:

    ValueError: radial grids must be strictly positive

Is there an example of a work around that I can follow as I don't understand what is causing it. My data does not appear to have any negative values (if that is what the error means)?

Any feedback will be greatly appreciated.

[2015-11-29 20:34] scls19fr commented on #15
Hi,

without a minimal example I can't help.

Feel free to provide one.

Kind regards

[2015-11-29 20:39] scls19fr opened #17 "i18n and l10n - half-open (exclusive) interval"
speed intervals are half-open (exclusive) interval

https://fr.wikipedia.org/wiki/Intervalle_(math%C3%A9matiques)

I'm using "french" notation

    [1.0;2.0[
    [2.0;3.0[

but english notations are differents
https://en.wikipedia.org/wiki/Interval_(mathematics)

    [1.0;2.0)
    [2.0;3.0)

we need to detect system language and we need to display half-open (exclusive) interval accordlingly.

See

[2015-12-20 11:01] yeyuguo opened #18 "where is API?"
Can you provide an API for  windrose?I need help with the API.Thanks.

[2015-12-20 11:03] yeyuguo commented on #18
I will always be waiting for windrose API,ths!!

[2015-12-20 11:10] scls19fr commented on #18
There is no API doc for now. Code is doc ;-)
You can also have a look at samples directory.

[2015-12-20 11:24] yeyuguo commented on #18
I can not understand the code, I want to set colorbar like this, can you help me please
http://matplotlib.org/examples/api/colorbar_only.html    (the first graph)

[2015-12-20 12:16] yeyuguo commented on #18
please please please please please please

[2015-12-20 12:30] scls19fr commented on #18
Give a man a fish and he will eat for a day; teach a man to fish and he will eat for a lifetime

Have a look at `cmap`.

see

    def _init_plot(self, direction, var, **kwargs):
        ...
       cmap = kwargs.pop('cmap', None)
       ....

so now see when `_init_plot` is called !

You just nee to pass a cmap parameter to coutourf or whatever function you are using.

[2015-12-20 15:47] #18 closed

[2016-01-06 22:29] jantheron opened #19 "Weibull plot error using pandas dataframe"
I am trying to plot a weibull distribution and get the curve fit parameters using numpy arrays extracted from a dataframe (`df1`), and feeding these into `plot_windrose` using the following code:

[code]

However, I get a really strange plot (see attached). The same occurs when I feed this data and the bins to `plot_windrose` with `kind='pdf'`

Can anyone help?

Jan Theron

The wspd data is printe

[2016-01-07 06:06] scls19fr commented on #19
Could you post here plot ?

[2016-01-07 10:35] jantheron commented on #19
Sorry, I treid to upload a tiff... here is a png file. Let me know if you can see it...

<img width="640" alt="weib" src="https://cloud.githubusercontent.com/assets/4553494/12168449/a29702a4-b532-11e5-82d9-9b537f189c84.png">

[2016-01-23 12:56] cqcn1991 commented on #12
@ocefpaf Packages for Anaconda, that's very interesting. I have a problem of managing and sharing environment for `Ipython Notebook`(http://stackoverflow.com/questions/34169781/scipy-ipython-notebook-package-mangement-tool), maybe that would help.

[2016-01-25 05:55] adityasinghwa opened #20 "Seamless Subplotting"
Hi! I was trying to use the module to plot a bunch of other weather parameters. The module can only be used for standalone plots. I cannot subplot it within my existing plot setup. I have tried some of the work arounds given but was not successful.

[2016-01-25 06:32] scls19fr commented on #20
Did you try passing `ax` parameter ?

[2016-01-25 06:48] adityasinghwa commented on #20
I did try it. Can you possibly give a sample syntax. My other subplots go something like this:

ax = plt.subplot(514)
ax.set_ylabel('Cloud Cover (fraction)')
ax.spines["top"].set_visible(False)
ax.spines["bottom"].set_visible(True)
ax.spines["right"].set_visible(False)
ax.spines["left"].set_visible(True)
ax.get_xaxis().tick_bottom()
ax.get_yaxis().tick_left()
ax.xaxis.set_major_locator(matplotlib.

[2016-01-28 18:09] scls19fr commented on #20
I faced a similar issue
see https://github.com/scls19fr/windrose/issues/10
but I never had time to fix it.
Feel free to help by submitting a PR

[2016-01-28 20:48] scls19fr commented on #19
Sorry I don't see any issue here:

[code]

Feel free to reopen

[2016-01-28 20:48] #19 closed

[2016-01-28 20:49] scls19fr commented on #19
![capture d ecran 2016-01-28 a 21 49 34](https://cloud.githubusercontent.com/assets/109167/12658385/0cd04860-c609-11e5-89c8-4562a57c4b27.png)

[2016-01-28 21:15] scls19fr commented on #14
Last dev version now support rmax parameter.

There is no PyPi version for now but you can install it using

    pip install git+https://github.com/scls19fr/windrose.git

or

    git clone https://github.com/scls19fr/windrose.git
    python setup.py install

Feel free to reopen an issue is case of problem

[2016-01-28 21:15] #14 closed

[2016-01-28 21:28] scls19fr opened #21 "Animate - calculate rmax automatically for the whole dataset"

[2016-02-04 08:54] #17 closed

[2016-02-04 08:57] scls19fr commented on #12
It will be so nice to see other people contributing to this module ;-)
 https://github.com/scls19fr/windrose/issues

[2016-02-04 08:57] #12 closed

[2016-02-04 09:02] scls19fr opened #24 "Continuous integration raises ImportError: No module named matplotlib"
Continuous integration raises

    ImportError: No module named matplotlib

but matplotlib was installed

Any idea ?

[2016-02-04 10:01] scls19fr commented on #20
It will be great if some Matplotlib experts such as @tacaswell  @JanSchulz or @mdboom (or some others ) could help on this.

[2016-02-04 10:36] JanSchulz commented on #20
@adityasinghwa can you post a minimal example which goes wrong?

[2016-02-04 11:46] LionelR commented on #20
You have to manually set your WindRoseAxes position on the figure, like you have to do with Axes and PolarAxes, because plt.subplot is just a helper function for that. You can achieve that like this
[code]
![figure_1](https://cloud.githubusercontent.com/assets/490118/12814140/100d7e60-cb3d-11e5-9dfc-0b6405c6caa7.png)

[2016-02-04 13:27] scls19fr commented on #20
Hi folks,

An subplots example is available at  https://github.com/scls19fr/windrose/blob/master/samples/example_subplots.py

See screeshot

![capture d ecran 2016-02-04 a 14 20 53](https://cloud.githubusercontent.com/assets/109167/12816096/c045c23a-cb4a-11e5-8573-76f0fdd7f85b.png)

This figure is composed of 12 windrose plots from Poitiers (year 2014, monthly)

It can probably be improved to disp

[2016-02-04 14:04] scls19fr opened #26 "Add margin, spacing, and a better API for subplots"
See https://github.com/scls19fr/windrose/blob/master/samples/example_subplots.py

![subplots](https://cloud.githubusercontent.com/assets/109167/12817109/a0469bde-cb50-11e5-9d9e-9c3b7e004778.png)

[2016-02-04 14:09] scls19fr commented on #15
`rmax` parameter can be passed to `WindroseAxes`. So you can specify any (positive) value.

[2016-02-04 14:09] #15 closed

[2016-02-04 20:29] #24 closed

[2016-02-04 20:54] scls19fr commented on #24
Thanks @ocefpaf

[2016-02-05 00:10] adityasinghwa commented on #20
![image](https://cloud.githubusercontent.com/assets/16873861/12833819/e7e36ee2-cbee-11e5-8ebf-ca0435b1d0a4.png)

Made this one with matlab where plot_windrose.m integrates seamlessly with normal plotting functions inside matlab. It has a analogue to matplotlib's axes_grid functionality which has been used for this plot.

Will give manually trying to fit the axes a go. The problem is then they have

[2016-02-15 22:29] xmnlab opened #27 "Change static format .1% in legend function"
The legend function need a decimal_places optional argument to display the bin legends with more decimal places.

[2016-02-15 22:30] xmnlab commented on #27
I'm testing here the code and soon I will send a pull request

[2016-02-18 16:05] scls19fr commented on #27
Closed by https://github.com/scls19fr/windrose/pull/28

[2016-02-18 16:05] #27 closed

[2016-02-18 16:05] scls19fr commented on #27
Thanks for your contribution @xmnlab

[2016-03-12 02:51] cqcn1991 opened #29 "Hi, just a short note for everyone writing loooooooooong ipytho notebooks."
Forgive me if this is irrelevant, I'm just trying to help with someone like me.

Now I'm trying to make a sidebar of the notebook, because my notebook is rather long.
A short demo:

![toc](https://cloud.githubusercontent.com/assets/2425141/13720167/a7f8a058-e83c-11e5-8e84-4ebda0c660dc.gif)

I have opened an issue at https://github.com/ipython-contrib/IPython-notebook-extensions/issues/532
And, you

[2016-03-12 06:23] scls19fr commented on #29
Thanks for this contribution. I'm closing this issue as it's more IPython related.

[2016-03-12 06:23] #29 closed

[2016-04-12 17:10] joddm opened #30 "ImportError: cannot import name 'WindroseAxes'"
I use Python 3.5, i have used `pip3 install windrose`, but when I try to run my script I get a error message:

[code]
My code `windrose.py` that I try to run:

[code]

I have installed all dependencies:

[code]

[2016-04-12 17:57] scls19fr commented on #30
You should name your script differently because there is a conflict between your script name and this library name (windrose)
try to rename `windrose.py` to `myscript.py`

[2016-04-12 18:00] joddm commented on #30
Thanks for the response. I already tried that, unfortunately it doesn't work.

[code]

[2016-04-12 18:00] scls19fr commented on #30
Did you also rename `windrose.pyc` ?

[2016-04-12 18:00] scls19fr commented on #30
Did you also delete windrose.pyc ?

[2016-04-12 18:01] joddm commented on #30
Now it works, I had to delete the original. Thanks!

[2016-04-12 18:01] scls19fr commented on #30
Ok so closing.
Glad to help

[2016-04-12 18:01] #30 closed

[2016-04-28 09:12] Data-drone opened #31 "Is it possible to add other objects on top of the windrose?"
I want to shade in particular slices of the windrose to show where certain buildings are relative to the windrose profile

[2016-04-28 16:34] scls19fr commented on #31
I've never done this. So I can't tell. An other approach could be to export windrose as png (with transparent background being blank) and import this drawing into your building drawing software.
http://stackoverflow.com/questions/15857647/how-to-export-plots-from-matplotlib-with-transparent-background

[2016-05-02 03:04] crazy449 commented on #20
@adityasinghwa can you share a snippet of your code I am trying to do subplots with other charts like you too but I can't work it out

[2016-05-02 03:06] Data-drone opened #32 "change colours?"
I have seaborn in the same notebook for other plots and it has switched the axes to white by default which doesn't work with the windrose very well how can I overwrite the axis colours?

[2016-05-02 07:57] scls19fr commented on #32
This might help http://stackoverflow.com/questions/14088687/how-to-change-plot-background-color

[2016-05-06 03:55] tacaswell opened #33 "add note to mpl docs"
Can you add a blurb about this probject to http://matplotlib.org/mpl_toolkits/index.html / https://github.com/matplotlib/matplotlib/blob/master/doc/thirdpartypackages/index.rst ?

[2016-05-06 06:56] scls19fr commented on #33
That's done here https://github.com/matplotlib/matplotlib/pull/6376

[2016-05-31 00:18] slharris opened #34 "set common radial scale"
I am creating multiple wind roses and I would like them all to be comparable. Is there a way to set a common radial scale?
Any feedback will be greatly appreciated.
Thank you

I am currently using the following:

[code]

[2016-05-31 04:48] scls19fr commented on #34
Hello,

You should have a look at this closed issue
https://github.com/scls19fr/windrose/issues/14

I'm closing this issue but feel free to reopen it in case of problem

Kind regards

PS: Please use backquote for code ! https://help.github.com/articles/creating-and-highlighting-code-blocks/
PS2: All closed issues can be found using https://github.com/scls19fr/windrose/issues?q=is%3Aissue+is%3Aclos

[2016-05-31 04:48] #34 closed

[2016-06-01 00:13] slharris commented on #34
thank you!

On 31 May 2016 at 14:48, scls19fr <notifications@github.com> wrote:

--

Dr Sarah Harris
Research Fellow

Earth, Atmosphere and Environment
Monash University
Room 227, 9 Rainforest Walk, Clayton Campus
Wellington Rd
Clayton VIC 3800
Australia

T: +61 3 9902 4243
E: sarah.harris@monash.edu <name.surname@monash.edu>

[2016-06-01 05:07] scls19fr commented on #34
My pleasure!
Feel free to contribute to improve windrose (code, doc...)

[2016-07-12 15:24] cqcn1991 opened #35 "What is the default colormap for windrose?"
This is the plot I get using `windrose`,

![qq](https://cloud.githubusercontent.com/assets/2425141/16772605/79347e08-4887-11e6-81c4-43368e3c93d0.png)

I notice that in https://github.com/scls19fr/windrose/blob/a024d3af097c69d28f98328e7eb2b3dbc215838a/windrose/windrose.py , there is not `cmap` for `bar`. Then I want to know, how to change the colormap of it?

Addtionally, is it `jet`? Will it be ch

[2016-07-12 16:41] scls19fr commented on #35
Hi @cqcn1991

I'm really impressed by [your work](https://github.com/cqcn1991/Wind-Speed-Analysis) !

Sorry but I don't know what it will happen with Matplotlib update...

If no cmap argument is passed it might be `jet`
https://github.com/scls19fr/windrose/blob/a024d3af097c69d28f98328e7eb2b3dbc215838a/windrose/windrose.py#L243

You might try to pass cmap argument (different than jet) to both `bar`

[2016-07-13 00:50] cqcn1991 commented on #35
Just tried it

[code]

From https://github.com/scls19fr/windrose/blob/a024d3af097c69d28f98328e7eb2b3dbc215838a/windrose/windrose.py#L242 , I can see that it's not `string` name but the `cmap` itself get passed. Not sure if this is a good design.

I find the `cmap=plt.get_cmap(name)` from http://matplotlib.org/examples/color/colormaps_reference.html

[2016-07-13 05:24] scls19fr commented on #35
I think it's better to pass `cmap` itself and not its name because you can be able to pass a custom cmap (a user defined cmap that don't have name) this way.

[2016-07-13 10:55] cqcn1991 commented on #35
@scls19fr OK. I post this issue is because I just know that `matplotlib` is changing from `jet` to `viridis`, and I think you maybe interested in it as well. If you are unfamiliar with this, you can see discussion here (http://matplotlib.org/style_changes.html) and here (http://stats.stackexchange.com/questions/223315/why-use-colormap-viridis-over-jet).

Addtionally, thanks for your intereste in h

[2016-07-28 09:08] dda-voisin opened #36 "Ticks on the r axes"
I recently discovered your very nice little package, and I really appreciate it.
I am using it for pollution roses in an air quality study, and it works quite well.

I did figure out how to move the legend out of the rose through a direct call to the matplotlib functions underneath:

[code]

and how to put titles through the same method: plt.title('Pollution rose at a receptor site', y=1.08)

yet,

[2016-07-28 16:32] scls19fr commented on #36
Merci pour le compliment et ravi que Windrose serve à d'autres depuis que je l'ai mis sur GitHub et packagé.
Je suis actuellement en vacance et n'ai pas trop le temps de répondre mais je ne suis pas choqué par la méthode.
Je ne suis pas non plus un spécialiste de Matplotlib... il faut faire des essais et essayer d'intégrer le code dans la bibliothèque (sans que cela n'ai d'effet de bord) et soumet

[2016-08-05 14:31] dennydengler opened #37 "Cannot Import Name poly_between"
![error 2](https://cloud.githubusercontent.com/assets/20861100/17439762/94258f2c-5af7-11e6-9cf5-afa3bfe106ab.jpg)
![error 3](https://cloud.githubusercontent.com/assets/20861100/17439765/9b878838-5af7-11e6-99fd-8c4a380507df.jpg)
So I am using python 3.5. When I tried to import windrose, it says that it cannot import name 'poly_between'. Then I tried upgrading matplotlib but then it says that lapack

[2016-08-05 14:35] scls19fr commented on #37
I don't think it's a windrose issue.
What distribution of Python are you using ?
I suggest using a scientific distribution of Python such as Anaconda Python https://www.continuum.io/downloads

[2016-08-05 15:03] dennydengler commented on #37
Hi, scls19fr, thank you for your input.
Hmm if memory serves me right, I got it from here:
https://www.python.org/downloads/
I wouldn't know what distribution that is though.
Also concerning the use of Anaconda, my primary concern is the incompatibility between that and pip install, but what do you think?

[2016-08-05 16:05] scls19fr commented on #37
With Anaconda you will have `pip` but also `conda`
http://conda.pydata.org/docs/intro.html

I suggest
- reading http://stackoverflow.com/questions/6719309/python-distributions-and-environments-for-scientific-computing
- Uninstalling your current Python
- installing a scientific Python distribution which come with all useful libraries for scientific work

[2016-08-12 20:34] #33 closed

[2016-08-13 17:17] brunorpinho opened #38 "Request: Register axes to matplotlib, then we can use as "projection=""
First, I would like to thank you for this amazing tool. I am using it to plot geological faults in rose diagrams.
I would like to give you an an idea to register the axes as projection automatically after we import WindroseAxes.

You just have to do this:

1. First, import register_projection:
`from matplotlib.projections import register_projection`

2. Then add a `name` variable :
[code]

3. Fina

[2016-08-13 17:42] scls19fr commented on #38
Hello Bruno,

thanks for this suggestion.
I've just create a PR about it.
See https://github.com/scls19fr/windrose/pull/39

Could you have a look before merging ?

Branch is named `register_axe`
https://github.com/scls19fr/windrose/tree/register_axe

To test just git fork this repository

`git checkout register_axe`

and install

`python setup.py install`

Kind regards

[2016-08-13 17:44] scls19fr commented on #20
Maybe this https://github.com/scls19fr/windrose/issues/38 could help to have easier subplotting.

[2016-08-15 09:01] brunorpinho commented on #38
Working great!

[2016-08-15 09:13] #20 closed

[2016-08-15 09:13] #38 closed

[2016-08-15 09:19] scls19fr commented on #38
Ok so I'm merging !

[2016-08-15 09:23] scls19fr commented on #20
`WindroseAxes` is now a registered projection (as `windrose`)

we can do

[code]

an other example can be found

https://github.com/scls19fr/windrose/blob/master/samples/example_subplots.py#L62

[2016-08-30 16:39] jtmcleod1989 opened #40 "Change labels in wind rose legend"
Hi, is it possible to customize/overwrite the text labels in the wind rose legend? Thanks!

[2016-08-30 19:57] brunorpinho commented on #40
Yes, try to overwrite the axes Legend object. Like this:

[code]

Cheers!

[2016-08-31 10:04] scls19fr commented on #40
Thanks @brunorpinho for this prompt answer.
@jtmcleod1989 I close this issue. Feel free to reopen it if it doesn't help.

[2016-08-31 10:04] #40 closed

[2016-08-31 10:05] scls19fr commented on #37
@dennydengler are you still facing this problem ?

[2016-08-31 13:53] jtmcleod1989 commented on #40
Thanks very much, @brunorpinho! That did the trick.

[2016-09-28 11:27] julietbravo opened #41 "WindroseAxes from existing ax"
Perhaps I'm missing something, but your example:

[code]

works perfectly, until I try to create a `WindroseAxes` from an existing ax. For example:

[code]

fails at `ax2.bar` (`Unknown property normed`), because `ax2` is now no longer a `windrose.WindroseAxes` but a `matplotlib.axes._subplots.AxesSubplot`, as `from_ax` simply returns the given `axes` if it is not equal to `None`.

Is it somehow p

[2016-09-28 11:39] scls19fr commented on #41
Maybe you might have a look at https://github.com/scls19fr/windrose/issues/20#issuecomment-239762028

[2016-09-28 13:00] jsignell opened #42 "stacked colorbar goes to infinity"
It seems that when the edges of the var bins are specified, the final color should go between the -2 and -1 indexed values, not between -1 and infinity. In the example below, I would expect the last color bin to be between 15 and 20.

[code]

![example](https://cloud.githubusercontent.com/assets/4806877/18914127/4b054356-857b-11e6-9695-9e7cf4cb09c1.png)

I would be happy to submit a pull request i

[2016-09-28 13:56] scls19fr commented on #42
Hello,

I suggest to first use latest devel version because I don't think you are running windrose using a french environment (see https://github.com/scls19fr/windrose/issues/17 )
https://github.com/scls19fr/windrose/blob/master/windrose/windrose.py#L189

Why not simply using `bins=[0,5,10,15]` ? so the last color bin will be between 15 and infinity.

but I will be pleased to accept a PR if there

[2016-10-04 23:42] georgebv opened #43 "Smooth plot"
I have found some real dark magic. Your module plots roses as triangles emerging from center - with straight, blocky edges. However, if you add this code (i.e. any histogram with pyplot)
 `plt.hist([0, 1]); plt.close()`
 before executing your function (i.e. WindroseAxes), you get smooth curvy roses like here:
http://climate.ncsu.edu/windrose.php
![krdu_windrose](https://cloud.githubusercontent.com

[2016-10-05 08:10] scls19fr commented on #42
See http://climate.ncsu.edu/windrose.php

![krdu_windrose](https://cloud.githubusercontent.com/assets/22249152/19096455/8535c3e0-8a6a-11e6-9273-718bf5e51ed8.png)

colorbar also goes to infinity

[2016-10-05 08:14] scls19fr commented on #43
Hello @georgebv ,

Please, could you provide sample data (or random data), full code and screenshots comparing these 2 behaviors ?

Kind regards

[2016-10-05 12:22] georgebv commented on #43
This is the regular rose plot (vanilla):
![rose](https://cloud.githubusercontent.com/assets/22249152/19112656/0a6ee85c-8ad4-11e6-8c15-406f31ae6314.png)
This is what happens when I add and remove a pyplot histogram before your function:
![rose](https://cloud.githubusercontent.com/assets/22249152/19112674/3277d8fe-8ad4-11e6-9e9f-6c8fc5a7fe6e.png)

This is my code:

def rose_plot(df, **kwargs):
    P

[2016-10-05 12:39] scls19fr commented on #43
Oh yes I see it now clearly!

![capture d ecran 2016-10-05 a 14 33 40](https://cloud.githubusercontent.com/assets/109167/19113203/dbd1c458-8b08-11e6-89df-70c0f03adbde.png)

is better than

![capture d ecran 2016-10-05 a 14 33 05](https://cloud.githubusercontent.com/assets/109167/19113196/d23bb6c4-8b08-11e6-8a14-a7ac2a5148d8.png)

Any idea @LionelR ?

PR is welcome!

[2016-12-30 21:05] scls19fr opened #45 "Allow sending options to pyplot's legend()"
Users may wish to send options to pyplot's legend() function, e.g.  `ax.set_legend(loc='upper center')`

[2016-12-30 21:06] scls19fr commented on #45
Thanks @kilojoules for this contribution.

[2016-12-31 17:55] scls19fr opened #48 "Allow statistical input"
from https://github.com/scls19fr/windrose/pull/47

[2016-12-31 17:57] #48 closed

[2017-02-27 07:16] cqcn1991 opened #49 "matplotlib 2.0 warning : axisbg -> facecolor"
I was getting

[code]

when using `windrose` to make simple plots. I think it might the lib's problem, is there anything I can help?

[2017-03-04 20:34] scls19fr commented on #49
Hi @cqcn1991

https://github.com/scls19fr/windrose/search?utf8=%E2%9C%93&q=axisbg
PR are welcome !

Kind regards

[2017-03-21 19:44] #49 closed

[2017-03-21 19:46] scls19fr commented on #49
Thanks @cqcn1991 for pointing this issue
Thanks @fmaussion for this PR.
Nice to have active contributors like you.

[2017-04-10 06:53] wanglongqi opened #52 "Edge is not rending same as previous version"
Here is the previous version (get from readme):

![](https://github.com/scls19fr/windrose/raw/master/screenshots/bar.png)

Here is the new version (get from https://nbviewer.jupyter.org/github/scls19fr/windrose/blob/master/windrose_sample_random.ipynb):

![image](https://cloud.githubusercontent.com/assets/6874783/24849214/3e3d2074-1dfd-11e7-84af-54fe46d84841.png)

It looks like the readme version

[2017-04-10 07:50] scls19fr commented on #52
Closing as duplicate of https://github.com/scls19fr/windrose/issues/43

[2017-04-10 07:50] #52 closed

[2017-04-10 07:50] scls19fr commented on #43
Pinging @wanglongqi

[2017-04-24 22:29] NicWayand opened #53 "projection="windrose" not working"
I just cloned and installed the most recent github version that should have the projection="windrose" option.

But trying the example code below I get an `ValueError: Unknown projection 'windrose'` error.

Any suggestions on what I may be doing wrong?

[code]

[2017-04-25 07:19] scls19fr commented on #53
I don't see this issue on my side. Are you sure you uninstalled windrose correctly before installing latest git version ?

![capture d ecran 2017-04-25 a 09 17 56](https://cloud.githubusercontent.com/assets/109167/25372996/25ba3bda-2998-11e7-91d4-ad0750cc43b3.png)

Related issue https://github.com/scls19fr/windrose/issues/38
Pinging @brunorpinho

[2017-04-25 07:22] scls19fr commented on #53
uninstall windrose and try to import windrose it should raises `ModuleNotFoundError`
After you can install lastest git version using:

    pip install git+https://github.com/scls19fr/windrose/

[2017-04-25 18:17] NicWayand commented on #53
Yes that was it. Was using an old windrose version. Thank you!

[2017-04-25 18:17] #53 closed

[2017-04-27 12:01] wanglongqi commented on #43
@scls19fr Any idea about what is happening here? calling `bar` function also changes the behavior.

[2017-04-27 16:39] scls19fr commented on #43
Sorry @wanglongqi I haven't been able to understand what is happening.

[2017-04-27 17:10] scls19fr commented on #43
Any help on this is welcome

[2017-04-28 11:25] wanglongqi commented on #43
@scls19fr I think this is a bug in upstream, i.e. matplotlib. Probably should fire an issue in matplotlib repository.

[2017-05-12 19:52] scls19fr opened #54 "DOI"
Publishing to Journal of Open Source Software (JOSS) http://joss.theoj.org/ may be consider to get a DOI (Digital Object Identifier)

[2017-05-16 07:12] scls19fr commented on #54
Some researchers are using windrose. So @LionelR what is your opinion about publishing to Journal of Open Source Software?

[2017-05-16 07:28] LionelR commented on #54
Bonjour Sébastien,
Je viens juste de réaliser que d'autres mails sont passés à la trappe par mon ancien anti-spam, désolé donc de n'avoir pas répondu aux autres messages. Je suis épaté par ce qui est fait sur ce module et ton travail. Tu as toute latitude pour publier sur le JOSS

[2017-05-16 07:52] scls19fr commented on #54
Ok. Il faudrait par contre que tu te crées un compte sur https://orcid.org/
et que tu me confirmes l'affiliation que tu voudrais voir y figurer.

Il est possible de créer le compte orcid en se connectant sur http://joss.theoj.org/

[2017-05-16 08:00] scls19fr opened #55 "Create a GitHub organization"
We should probably create a GitHub organization

What about

py-windrose
or
python-windrose

for this org name?

Looking for naming suggestion

Pinging @LionelR

[2017-05-16 08:02] LionelR commented on #55
python-windrose sounds good

[2017-05-16 08:04] LionelR commented on #54
orcid.org/0000-0001-6017-4385

[2017-05-16 08:18] scls19fr commented on #55
GitHub org https://github.com/python-windrose/ created and windrose repository transfered

[2017-05-16 08:18] #55 closed

[2017-05-16 12:26] scls19fr commented on #54
Submited
http://joss.theoj.org/papers/1b3fb0a7777ba65071e4d99b65a8c47d

[2017-05-16 15:50] blaylockbk opened #56 "Can you add an argument to add units to the legend"
presently, the legend displays just the numbers, e.g. [0.0 : 5.0]

It would be nice if we could specify the units with a simple string argument
[code]
would set legend label as [0.0 : 5.0] mph

or
[code]
would set legend label as [0.0 : 5.0] m/s

[2017-05-16 15:58] blaylockbk opened #57 "Matplotlib 2.0"
[code]

[2017-05-16 17:59] scls19fr commented on #56
Hello @blaylockbk

Nice idea
PR are welcome

See
https://github.com/python-windrose/windrose/blob/master/windrose/windrose.py#L181

Kind regards

[2017-05-16 18:10] scls19fr commented on #57
It seems that this issue is a duplicate of https://github.com/python-windrose/windrose/issues/49
which was fixed in master branch

https://github.com/python-windrose/windrose#install-latest-development-version

So I'm closing. Please reopen if necessary

[2017-05-16 18:10] #57 closed

[2017-05-18 12:00] scls19fr commented on #54
PRE REVIEW
https://github.com/openjournals/joss-reviews/issues/263

[2017-05-22 16:32] mccannjb opened #58 "Handling "Calms""
Is there a way to treat 'calms' differently within datasets?  For example, in the dataset I'm attempting to create windroses for, calms are denoted as Wd=0.0 and Ws=0.0 (whereas North winds are denoted as Wd=360.0).  It seems like in this case they are currently lumped in with North winds.

[2017-05-22 18:28] scls19fr commented on #58
Maybe you should simply remove these data from your input data for example using a Pandas DataFrame and boolean indexing

    df = df[df["Ws"] > 0.1]

[2017-05-22 18:54] mccannjb commented on #58
I have started removing the calms from the dataframes prior to passing to the windrose bar function similar to the way you suggested.  What I was hoping is that there is some way to replicate the typical calms representation within other windroses (i.e. a circle in the center, from which the sector "petals" emanate) as the example below shows:
![samplewindrose](https://cloud.githubusercontent.com/

[2017-05-23 04:13] scls19fr commented on #58
Pinging @LionelR

[2017-05-23 05:18] LionelR commented on #58
It should be possible to compute the calms frequency in the histogram method and initialise the offset plots methods variable accordingly after drawing a centered circle. I don't have a computer right now but I can try something tomorrow if you can't in the mean time.

[2017-05-23 05:26] LionelR commented on #43
Maybe passing the transform parameter to the plots methods calls can solve this problem. See https://stackoverflow.com/questions/19827792/matplotlib-drawing-a-smooth-circle-in-a-polar-plot

[2017-05-23 08:40] scls19fr opened #59 "Add a release procedure file"
We should probably add a `release-procedure.md` file to this repository

An example

*  Ensure supported Python versions in `setup.py` and `.travis.yml` are corrects

*  Ensure windrose version is up to date in `version.py`

*   Tag commit and push to github

using Github website

Go to https://github.com/python-windrose/windrose/releases/new
tag: vx.x.x

or using cli

        git tag -a x.x.x -m

[2017-05-25 06:10] scls19fr opened #61 "Add Python 3.6"
We should add Python 3.6 to `.travis.yml` and to `setup.py`

[2017-05-25 06:11] scls19fr opened #62 "CI is broken"
Currently continous integration is broken.
We should fix it.

[2017-05-25 20:20] scls19fr commented on #54
REVIEW
https://github.com/openjournals/joss-reviews/issues/268

[2017-05-26 05:35] scls19fr opened #63 "Provide online interactive notebook examples"
http://mybinder.org/ could help us to provide online interactive notebook examples

So possible user could have a look at windrose online without installing it.

See example
https://github.com/binder-project/example-requirements

[2017-07-26 03:30] tacaswell commented on #43
Likely related, with matplotlib 2.0 and windrose 1.6 the contour example from the front page has straight lines on the contours, but round edges on the fill

![so](https://user-images.githubusercontent.com/199813/28603294-46890a58-7191-11e7-8ee8-03a41cdcff46.png)

[2017-07-28 20:17] #62 closed

[2017-07-28 20:17] #61 closed

[2017-07-28 20:40] scls19fr commented on #54
From https://github.com/openjournals/joss-reviews/issues/268#issuecomment-318530317
Zenodo can be use to get a DOI
http://blog.zenodo.org/2017/05/30/doi-versioning-launched/

I will add a new tag in the next days (CI is now fixed)

[2017-07-30 18:08] scls19fr opened #65 "Inconsistent licence files"
Following https://github.com/openjournals/joss-reviews/issues/268#issuecomment-318916583

In
https://github.com/python-windrose/windrose/blob/master/setup.py
it's `License :: OSI Approved :: CEA CNRS Inria Logiciel Libre License, version 2.1 (CeCILL-2.1)'`

but in https://github.com/python-windrose/windrose/blob/master/LICENCE
and in https://github.com/python-windrose/windrose/blob/master/windrose

[2017-07-30 18:38] scls19fr commented on #65
Original version from http://youarealegend.blogspot.com/search/label/windrose was CeCILL-B.
I did a mistake when I created `setup.py` and this repository. I put the only CeCILL license available
in https://pypi.python.org/pypi?%3Aaction=list_classifiers which was CeCILL-2.1

[2017-08-02 14:55] LionelR commented on #65
@scls19fr please keep the CeCILL-B license wherever it's necessary

[2017-08-02 15:30] scls19fr commented on #65
Ok I will do
I will probably need to retag

[2017-08-02 18:25] scls19fr commented on #65
Fixed but according both https://spdx.org/licenses/ and https://opensource.org/licenses/alphabetical CeCILL-B is not listed in OSI approved list of license (despite the fact that http://www.cecill.info/licences.en.html claims that it has the caracteristics of BSD-like licenses)
I just hope it won't be an issue for Journal of Open Source Software review.

[2017-08-02 18:42] scls19fr commented on #65
Reopening this issue because of pip upload fail!

[code]

[2017-08-02 18:47] scls19fr commented on #65
I also tried

[code]

and

[code]

and get similar error

`Upload failed (400): classifiers: 'License :: CeCILL-B' is not a valid choice for this field`

[2017-08-02 20:41] scls19fr commented on #65
I've just opened an issue on PyPi https://github.com/pypa/pypi-legacy/issues/679 to ask to add CeCILL-B to allowed classifiers in setup.py or to provide a better workaround.

[2017-08-03 06:49] LionelR commented on #65
@scls19fr for consistency with the primary license and to be simple in the process, I think we can use the MIT license as a substitute.

[2017-08-03 18:09] scls19fr commented on #65
I pushed code to PyPi without defining License in classifier (as suggested in https://github.com/pypa/pypi-legacy/issues/679 )
License is defined to CeCILL-B in this release.
If that's an issue for JOSS I will create an other release with dual license.

[2017-08-03 18:09] #65 closed

[2017-08-16 11:10] scls19fr opened #69 "Dual licensing"
According to https://github.com/openjournals/joss-reviews/issues/268#issuecomment-322431025
we need dual licensing (OSI approved licenses).

@LionelR what OSI approved license should we use?

https://pypi.python.org/pypi?%3Aaction=list_classifiers

    License :: OSI Approved :: MIT License

(like you suggested in https://github.com/python-windrose/windrose/issues/65#issuecomment-319883719 )

or

[2017-08-16 11:14] LionelR commented on #69
Ok for BSD license

Le 16 août 2017 13:10:47 GMT+02:00, scls19fr <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2017-08-16 12:03] scls19fr commented on #69
2-clause BSD License (BSD-2-Clause)

or

3-clause BSD License (BSD-3-Clause)

are OSI approved not 4-clause BSD licence

So now we have to choose between BSD-2-Clause and BSD-3-Clause

[2017-08-22 13:34] #59 closed

[2017-08-22 13:34] #69 closed

[2017-08-22 13:41] scls19fr commented on #54
Digital Object Identifier is available at https://zenodo.org/account/settings/github/repository/python-windrose/windrose

[2017-09-04 17:35] scls19fr commented on #69
According https://github.com/pypa/pypi-legacy/issues/679#issuecomment-326993025

    License :: CeCILL-B Free Software License Agreement (CECILL-B)

is now a possible classifier

Instead of https://github.com/python-windrose/windrose/blob/ec7b1ed9fd9a9e28638eb0c21928ace4e9a4f39f/setup.py#L67

[2017-10-10 19:15] blaylockbk opened #71 "Question: How to create plot from data returned by histogram function"
I'm trying to understand how this code works and how I can modify it for a different need.

I have my histogram data in the same form as outputted from the histogram function
dir_edges, var_bins, table = histogram(direction, var, bins, nsector, normed, blowto)

Is there a way to create the plots from this information? Maybe I need a separate function to prepare the data for the plot?

[2017-11-24 08:52] loneharoon opened #72 "AttributeError: Unknown property facecolor"
I installed windrose using `pip install windrose` on my Mac.

On running the following code
[code]
I get the following error message
[code]

What should I do?

[2017-11-24 10:18] scls19fr commented on #72
Hello,

what version of Matplotlib are you using?
I suggest to update it
See https://github.com/python-windrose/windrose/issues/49

Kind regards

[2017-11-24 10:49] loneharoon commented on #72
Hi,

Thanks a lot. Updating Matplotlib solved the issue.

[2017-11-24 10:50] #72 closed

[2018-03-05 18:38] daniclaar opened #74 "Weibull plot pdf fit not as expected"
First of all, thanks for making this open source!

I am following the code from the readme to create a windrose for my dataset (wave height and direction). I have been able to successfully create a windrose for this dataset, but when I try to fit a Weibull distribution, it doesn't appear to fit correctly. Here is my code:

[code]
And here is what the data looks like:
[code]
And this is what the re

[2018-03-05 19:24] daniclaar commented on #74
Apologies, I just realized I have a single zero at the beginning of my dataset (should have noticed that above!), and fitting a Weibull distribution breaks if there are any zeros in the data.

[2018-03-05 19:24] #74 closed

[2018-03-05 19:42] scls19fr commented on #74
No problem.
My pleasure.

[2018-03-14 01:22] ruffsl opened #75 "Simulated Wind for animated plots"
This is perhaps an odd question, but would folks here know of a good way to simulate wind readings that would be realistic.

I'm thinking of high sample rates in time where the direction and speed are more continuous in nature, as angle or intensity is not probable to change by large degree instantaneously. Almost as direction and speed could be thought of as variables in a dynamic equation. I'd l

[2018-03-17 03:54] Round-Walnut opened #76 "Updating of Numpy library may make IPython kernel deid."
I don't know what's updating make. But when I   back off the update, it worked again!

[2018-03-19 04:39] amoeba opened #77 "JOSS Review"
Hey @scls19fr I've taken a look at your submission, https://github.com/openjournals/joss-reviews/issues/268,
 and found most everything to be in order, with some minor comments. Overall, I appreciate the job you've done making installation easy and getting started very straightforward. I don't analyze wind data often but I think I would able to use Windrose pretty easily if I ever did.

I've re-vi

[2018-03-19 15:02] scls19fr commented on #77
Thanks @amoeba for your review.
I will tackle issues you mentionned during the next weeks (I will be quite busy the 2 following weeks because of a high teaching volume) and will be back here.
Thanks also @arfon for reviving https://github.com/openjournals/joss-reviews/issues/268

[2018-05-01 12:37] scls19fr opened #78 "Improve Documentation"
#77 needs documentation improvements

Currently dicumentation is available through docstrings and README.md

A better documentation is required (ReadTheDocs for example)

[2018-05-01 16:46] scls19fr opened #81 "poly_between doesn't exist anymore in matplotlib 3.1"
From #77

[code]

displays the following warning

[code]

https://github.com/python-windrose/windrose/blob/e816aa8beb9945637d1b77366a199f321dac2bad/windrose/windrose.py#L507-L515

[2018-05-01 17:05] scls19fr commented on #77
@amoeba Sphynx doc is now online and available at http://windrose.readthedocs.io/en/latest/

I'm using `flake8` as linter and Travis is running after each commit, but it didn't catch the problem you mentioned about `RESOLUTION` constant. Anyway, I removed this unused constant.

About the depreciation warning
`MatplotlibDeprecationWarning: The poly_between function was deprecated in version 2.2.`
s

[2018-05-01 17:51] amoeba commented on #77
Thanks @scls19fr I'll take a look this week.

[2018-05-02 07:29] scls19fr opened #82 "Improve docstrings rendering in Sphinx"
Some docstrings doesn't render correctly because of bad rst formatting

See http://windrose.readthedocs.io/en/latest/api.html

These docstring need to be fixed.

[2018-05-07 08:01] amoeba commented on #77
Hi @scls19fr thanks for all the work to address my comments. Things are looking really good. I have two outstanding reviewer checklist items.

### Version

The JOSS version is still at 1.6, the latest GitHub release is 1.6.3, and I suspect you'll want JOSS to archive yet another version that includes all of your good changes. I'm not sure if I can help with this.

### JOSS Paper

- The paper.md co

[2018-05-08 17:52] scls19fr commented on #77
Thanks @amoeba for your kind suggestions to improve both this paper and this library.
I will try to tackle remaining issues you mentioned in the next coming days.

[2018-05-11 09:56] scls19fr commented on #54
I'm currently working on the paper submission for "The Journal of Open Source Software" JOSS for Python Windrose library (#77 )

See
https://github.com/python-windrose/windrose/blob/master/paper.md

and

https://github.com/python-windrose/windrose/blob/master/paper.bib

Now, paper.md have a paragraph named "List of contributors and/or notable users"

The following contributors are enumerated @Lion

[2018-05-11 10:31] fmaussion commented on #54
Hi, good idea with the paper! My affiliation is fine.

I mostly used windrose for teaching:

![map_zhadang_00_all_year](https://user-images.githubusercontent.com/10050469/39920350-1b186cfa-5517-11e8-8a33-cff05d103740.png)

Thanks for the nice lib!

[2018-05-11 10:38] scls19fr commented on #54
Personaly, I'm also using it for teaching purpose... not for research.
@fmaussion Could you post code to overlay bitmap and windrose plot ?
You can even send a PR to add it to `samples` directory.
I like papers with nice pictures! Where is it located?

[2018-05-11 12:03] fmaussion commented on #54
@scls19fr shame on me but since this was a one time thing I just used GIMP for the overlay :1st_place_medal:

If I find time I'd be happy to give this as an exercise for my students ;-), for example as an overlay to a [google static map](http://salem.readthedocs.io/en/latest/auto_examples/plot_googlestatic.html#sphx-glr-auto-examples-plot-googlestatic-py)

[2018-05-11 12:51] cqcn1991 commented on #54
Great work! I used windrose to plot windrose (as in my https://github.com/cqcn1991/Wind-Speed-Analysis repo), LOL, not really sure to describe how I use it.

Is there anything I should do or help?

[2018-05-11 13:10] ocefpaf commented on #54
@scls19fr thanks for putting this together! I updated my affiliation in https://github.com/python-windrose/windrose/pull/85

BTW, I use `windrose` mostly for teaching and some technical reports every now and then.

[2018-05-11 13:47] kilojoules commented on #54
Hey thanks! My name is Julian Quick and I work for the National Renewable Energy Laboratory in Golden, CO. I'm not sure how to where to put the PR so I'm leaving this as a comment.

[2018-05-11 13:56] scls19fr commented on #54
You are a contributor of windrose (especially in Dec 2016). Could you tell us in a few words what you are doing / was doing with windrose?

[2018-05-11 14:27] kilojoules commented on #54
Yup. I used windrose to make a figure for a [wind plant optimization study](https://www.nrel.gov/docs/fy17osti/68185.pdf). In particular, I added the capability to make wind roses based on the Weibull shape and scale factors.

[2018-05-11 14:42] xmnlab commented on #54
@scls19fr great idea about the paper!

My affiliation is good. Actually my bug fix was to help a friend. She was using python-windrose on her thesis.

[2018-05-11 14:44] blaylockbk commented on #54
The windrose module is a great tool. Thanks for maintaining it!

My name is Brian Blaylock and I'm at the University of Utah Department of
Atmospheric Sciences. I create wind roses using this Python module for
weather station data from the MesoWest and SynopticLabs API:
https://synopticlabs.org/api/. I have an experimental web page that
generates wind roses on the fly for any station in the MesoWe

[2018-05-11 16:13] scls19fr commented on #54
Thanks @blaylockbk . Your publication clearly shows that we need to fix #43 and that there is also a need for map overlay directly in the library.

[2018-05-11 16:16] scls19fr opened #87 "Map overlay"
Some users of Python windrose could be interested by such a feature.

https://github.com/python-windrose/windrose/issues/54#issuecomment-388326349
https://github.com/python-windrose/windrose/issues/54#issuecomment-388410884

[2018-05-11 16:56] scls19fr opened #88 "Update doc to pytest usage (instead of nose)"
After #86 from @ocefpaf being merged we use pytest (instead of nose) for unit tests;

We need to update doc accordingly http://windrose.readthedocs.io/en/latest/development.html

[2018-05-11 16:58] scls19fr opened #89 "Define a better contributing doc / code of conduct ..."
This is a bit related to #88 but we should also add in doc a code of conduct for contributing
See https://github.com/python-windrose/windrose/issues/77#issuecomment-386989721

Example of CoC
https://www.contributor-covenant.org
https://opensource.guide/code-of-conduct
https://github.com/todogroup/opencodeofconduct
https://www.djangoproject.com/conduct
http://citizencodeofconduct.org

[2018-05-11 17:08] jsignell commented on #54
My name is Julia Signell and I was using windrose while working at Princeton University on a project tracking lightning strikes during high intensity storms. I was using it to visualize the motion of the storm based on the relative position of the lightning from one strike to the next.

[2018-05-11 17:29] LionelR commented on #54
Hi,
I'm the original author of this package and I'm really impressed by it's evolution. This project was started because in my previous job (air pollutant monitoring in France) there was not simple tool to make wind plots in Python, which is IMHO the best language in the world :) With it I wrote technical reports on pollution exposure and wind distributions analyzes, by mixing local pollution meas

[2018-05-11 17:37] weber-s commented on #54
Woh that's great! I didn't know that such journal as JOSS exist!

I add my affiliation in a PR: Institut des Géosciences de l'Environnement, Université Grenoble Alpes.

I use windrose mainly for teaching/data exploration right now. I am in the field of Air Quality. I also may add windrose in one of my side-project: a API and GUI tools for PSCF ([pyPSCF](https://github.com/weber-s/pyPSCF))!
I will

[2018-05-11 17:54] #88 closed

[2018-05-12 00:49] yoonghm commented on #81
These functions may not be used internally in Matplotlib but they are used elsewhere. Please keep them.

[2018-05-13 04:46] scls19fr opened #92 "Automate code review"
From https://github.com/python-windrose/windrose/pull/86#issuecomment-388399772
https://stickler-ci.com/

[2018-06-24 11:40] jinhuanz opened #94 "frequency of the wind comes with a particular wind scale only"
Great work! More beautiful than other windrose I have ever seen!

The data I got was already the frequency of the wind comes with a particular wind scale:

wind scale | N | NNE | NE | ENE | E | ESE | SE | SSE | S | SSW | SW | WSW | W | WNW | NW | NNW
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
1 | 0.7 | 0.6 | 0.6 | 0.7 | 0.6 | 0.4 | 0.8 | 1.6 | 3 | 3.2 | 2.9

[2018-08-20 12:30] #89 closed

[2018-08-20 12:57] scls19fr commented on #77
I've just add a [CHANGELOG.md](https://github.com/python-windrose/windrose/blob/master/CHANGELOG.md), [CODE_OF_CONDUCT.md](https://github.com/python-windrose/windrose/blob/master/CODE_OF_CONDUCT.md) and [CONTRIBUTING.md](https://github.com/python-windrose/windrose/blob/master/CONTRIBUTING.md)

I will tackle remaining problems however I don't understand:

Doc is available on the readthedocs site, b

[2018-08-20 14:05] scls19fr commented on #54
Could you please have a look at https://github.com/python-windrose/windrose/blob/master/paper/paper.md and edit / submit PR to improve article?

[2018-08-20 15:25] fmaussion commented on #54
Hi @scls19fr , thanks! Because of lack of time I just had a quick skim through the paper, it is nice and short! It looks like it could use some English editing, maybe a native speaker will step up and help a little!

[2018-08-20 16:38] kilojoules commented on #54
Native english speaker here. I suggested some changes:
https://github.com/python-windrose/windrose/pull/97

Best,
Julian

On Mon, Aug 20, 2018 at 9:25 AM, Fabien Maussion <notifications@github.com>
wrote:

[2018-08-20 17:58] amoeba commented on #77
No worries all around.

Re: the README vs. readthedocs: I'm not sure what I meant by that, sorry for the confusion. Maybe I was confused!

As for the README, I interpret the [Documentation](https://joss.readthedocs.io/en/latest/review_criteria.html#documentation) section of the reviewer guidelines to mean that there should be a fair bit of content in the README at the root of the repo (specificall

[2018-08-20 18:57] scls19fr commented on #77
I've updated README and fix some rendering issues in pdf (because of figures).
Sorry for noise because of number of compilation processes.

[2018-08-22 07:31] scls19fr opened #98 "README is not rendered correctly on pypi"
Hello,

README is not rendered correctly on pypi
See https://pypi.org/project/windrose/

I thought pypi was supporting now Markdown?
https://github.com/pypa/warehouse/issues/869

Any idea what is going wrong?

Kind regards

[2018-08-22 07:44] scls19fr commented on #77
I've created a new release (version 1.6.4) on Github https://github.com/python-windrose/windrose/releases
It's also published on Pypi https://pypi.org/project/windrose/
This new release is displayed on Zenodo at https://zenodo.org/record/1401705#.W30PIJP-j_8
But https://github.com/openjournals/joss-reviews/issues/268 is mentioning 1.6 version, it should be 1.6.4 now
Is there anything that I can do

[2018-08-22 13:10] ocefpaf commented on #98
I know of [some issues](https://github.com/pypa/warehouse/issues?q=is%3Aissue+sort%3Aupdated-desc+markdown+is%3Aclosed) with `warehouse` and I'll try to debug this later. (I had one in my project where just updating twine solved it.)

[2018-08-23 10:26] arfon commented on #77
Is there anything that I can do ?

I can update the version on the [review issue](https://github.com/openjournals/joss-reviews/issues/268)

[2018-08-23 10:37] scls19fr commented on #77
Thanks @arfon

[2018-08-23 10:40] scls19fr commented on #77
I wonder why references in https://github.com/python-windrose/windrose/blob/master/paper/paper.bib doesn't appear in https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf
Should I add references manually in `paper.md`?

[2018-08-23 10:44] arfon commented on #77
This is because you're not cite them directly. (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)). Citations are only included in the PDF if they are cited in the `paper.md`.

[2018-08-24 17:42] StSav012 opened #99 "Wrong angle in scatter"
All the polar plots have 0 angle at North, but `wrscatter` is drawn like a usual polar plot: the angle is counted from East anti-clockwise. It confuses.
The version is the latest by the date, 1.6.4.

[2018-08-24 23:33] amoeba commented on #77
Looks pretty good, thanks for taking the time to do that. I see a few issues:

README:

- The Codacy badge image is broken
- There's a broken image link in the text "Map overlay" to https://github.com/python-windrose/windrose/blob/master/screenshots/overlay.png
- Could you put code with the examples? I interpret the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html), "Th

[2018-08-27 06:33] scls19fr commented on #99
Thanks @StSav012 for reporting this. However, a Minimum Working Example showing this (with fake data) will be nice.

[2018-08-27 07:50] scls19fr commented on #77
I've fixed `README.md` badges and image (map overlay).
In addition to the documentation, an example have been added to README.
Content of `paper.md` have been reduced.
I will be very pleased if you could you tell me if you think that it matches now criteria?

[2018-08-27 08:15] StSav012 commented on #99
Here you are.
[code]

[2018-08-27 10:04] scls19fr commented on #99
Could you try fixing code and submit a pull request?

Maybe adding

[code]

before

https://github.com/python-windrose/windrose/blob/a93c9225af737526b5d9a7200cabdfe660079043/windrose/windrose.py#L738

[2018-08-27 17:04] amoeba commented on #77
hey @scls19fr, thanks for taking the time to do that. The changes the readme are great. It looks like you should remove the Installation section? If you look at an [example paper](https://joss.theoj.org/papers/ba29665c4bff35c37c0ef68cfe356e44), you can see the minimal treatment given to installation instructions. I'd group detailed Installation instructions under the note:

[2018-08-27 17:38] Data-drone commented on #54
I was using windrose to analyse environmental effects on dust dispersion for atmospheric quality control.

[2018-08-27 18:08] amoeba commented on #77
Great, the revised structure looks good. I just went back to the original review and saw that the references needed checking. My apologies for not looking at that earlier.

- there's extra text 'nocite' in the references section. Does that need to be there?
- `harris2014parent` is missing its DOI of https://doi.org/10.1016/j.jweia.2014.05.005
- `horel2016summer ` is missing its DOI of https://doi.

[2018-08-27 18:28] scls19fr commented on #77
DOI added to `paper.bib` but I also noticed this 'nocite' in the references section.
I followed suggestion from https://github.com/python-windrose/windrose/issues/77#issuecomment-415372276 (ie https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#unused_references_(nocite) ).
Maybe @arfon can tell us why metadata are rendered as raw text?
It can be either a [pandoc](https://pan

[2018-08-27 18:42] amoeba commented on #77
Ah, thanks for the clarification. Let's see what @arfon says.

[2018-08-27 23:25] arfon commented on #77
I think that this section needs to go in the YAML header at the top of the paper.

[code]

[2018-08-28 04:12] StSav012 commented on #99
No, the direction would then be wrong.
MWE:
[code]

I used `direction = -np.array(direction) + np.radians(90)`. Not sure whether I should explicitly convert `direction` into a `numpy` array, or it already is an array. I'd rather do
[code]

By the way, [`numpy.vectorize`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.vectorize.html) is not for speed but just for convenience, as they ke

[2018-08-28 07:16] scls19fr commented on #99
You are right about sign... (and annotate help a lot to see it):

    vf = np.vectorize(lambda x: -x + np.pi / 2)

Not sure that speed is something we should really care for now.

What is really important is that we can support Python list and Numpy array as input.

Maybe `vf = np.vectorize(lambda wd: -wd + np.pi / 2)` can be defined as global ie outside of `wrscatter` function so it could decreas

[2018-08-28 08:02] scls19fr commented on #77
I've just move this section to YAML header at the top of the paper. Rendering looks good now. Thanks @arfon and @amoeba for your help.

[2018-08-29 16:37] StSav012 commented on #99
Right then. I used to plot some 10,000 to 1,000,000 points in scatter as well, so I have to care about speed. Anyway, I have nothing left to suggest. Feel free to close the issue when you submit a correction. Thanks!

[2018-08-29 17:52] scls19fr commented on #99
Could you try removing windrose and installing latest master version?

[2018-08-30 06:40] StSav012 commented on #99
Looks fine except for some 30 times decreased performance comparing to my method.
[code]
Needless to say that `np.vectorize` consumes much, much more memory. Tested with [memusg](https://gist.github.com/netj/526585): your method takes up to 803204 kiloBytes against 183840 kiloBytes of mine. I ran out of both memory and swap trying to calculate the `np.vectorize` time consumption for `n = 10 ** 8`.

[2018-08-30 09:00] scls19fr commented on #99
Could you try it again @StSav012 ?

[2018-08-30 18:37] StSav012 commented on #99
Now it looks fine to me. At least, a have nothing else to suggest.

[2018-08-30 18:37] #99 closed

[2018-08-31 05:59] scls19fr commented on #81
A workaround is given at https://github.com/matplotlib/matplotlib/issues/11911#issuecomment-414982843

[2018-10-01 06:17] scls19fr opened #101 "Matplotlib 3.0.0"
Matplotlib 3.0.0 have been released
Python 2.x support have been removed

https://mail.python.org/pipermail/matplotlib-announce/2018-September/000027.html
https://matplotlib.org/users/whats_new.html

we need to try if / know if windrose is affected by changes.

[2018-10-18 15:31] alicarlos opened #103 "Change Label Legend"
Be able to change the labels on the bins

![onspw](https://user-images.githubusercontent.com/44268113/47166008-3e488680-d2c9-11e8-9f75-331511994759.png)

[2018-10-18 15:35] scls19fr commented on #103
https://github.com/python-windrose/windrose/blob/master/windrose/windrose.py#L222-L248

[2018-10-27 07:58] scls19fr opened #108 "VisibleDeprecationWarning: Passing `normed=True` on non-uniform bins has always been broken"
https://travis-ci.org/python-windrose/windrose/jobs/447013574#L847

[code]

[2018-10-27 08:02] scls19fr opened #109 "RuntimeWarning: More than 20 figures have been opened."
https://travis-ci.org/python-windrose/windrose/jobs/447013574#L860

[code]

[2018-11-05 05:56] scls19fr opened #110 "Pypi deployment using Travis CI"
Deployment to Pypi of new release using Travis CI should be done using:
https://docs.travis-ci.com/user/deployment/pypi/

[2018-11-05 11:49] ocefpaf commented on #110
@scls19fr you can accomplish that by adding the following lines at the end of your `.travis.yaml` file:

[code]

You will need to add the `PYPI_USERNAME` and the `TRAVIS_ENCRYPTED_PYPI_PASSWORD`.
The latter can be generated with Travis-CI CLI and the command:

[code]

[2018-11-05 12:04] scls19fr commented on #110
I used much less parameters in https://github.com/python-constraint/python-constraint/blob/master/.travis.yml and latest release seems to have been published correctly https://pypi.org/project/python-constraint/

I had modified my `.travis.yml` https://github.com/python-windrose/windrose/blob/master/.travis.yml#L33-L39 the same way.

but your setting probably have some benefit

[2018-11-05 12:14] ocefpaf commented on #110
The only benefits is IMO is the

[code]

that will will publish both wheels and source distribution.

The 3 extras options in the `on` field will ensure that the upload will occur only when those conditions are met. However, you probably don't need the last one, unless you have multiple tests conditions, and if you plan to issue releases from other branches/repos you may want to avoid the other co

[2019-03-06 16:24] Enzoupi opened #111 "Update legend fontsize"
Bug report ?

I was trying to set the fontsize of the labels of the legend. Increasing the fontsize through:
`ax.set_legend(prop={'size':20}, labelspacing=0.5)`
did increase the size of the coloured patches BUT the fontsize did remain the same. Looking at the source code, I had to do something like:
`plt.setp(legend.get_texts(), fontsize=15)`
to actually change the label fontsize.

I believe it is

[2019-03-06 16:43] scls19fr commented on #111
Hi @Enzoupi

Thanks according https://matplotlib.org/api/_as_gen/matplotlib.pyplot.legend.html `fontsize` seems to be keyword argument of `pyplot.legend`

https://github.com/python-windrose/windrose/blob/a06c57de02d7067c4eab9cf68d4435dbf7fb3fa6/windrose/windrose.py#L246

Maybe https://github.com/python-windrose/windrose/blob/a06c57de02d7067c4eab9cf68d4435dbf7fb3fa6/windrose/windrose.py#L246-L251

[2019-03-08 06:58] winash12 opened #112 "A quick clarification question"
I just made my first windrose plot using your software and I am extremely grateful.

https://imgur.com/a/pa1q8pW

Just had a couple of questions about the software.

1) The various frequencies - they do not have to add up to 100 right ?

2) is there a way to superpose this image on Google Earth ?

[2019-03-08 07:58] winash12 commented on #112
`from windrose import WindroseAxes
from matplotlib import pyplot as plt
import matplotlib.cm as cm
import numpy as np

ws = np.array([0,0,0,1.1,0,0.7,0.8,2.7,3,0.4,1.3,0.4,1,0,0.9,1.6,0,0,0.3,1.5,0.1,1,0.6,0,0.2,1,0.5,0.6,0.2,0,1.1])

print(ws.shape)

wd = np.array([359.2,359.2,359.2,132,359.2,334.8,332.8,81.1,81.1,109,135.9,103.1,147.1,359.2,306,320.1,359.2,359.2,177.9,12.2,350,8.8,344.1,359.2,20

[2019-04-24 09:30] rylanlee opened #113 "1.how to remover the central blank circle 2. how to make legend continuous not interrupted"
I make windrose but the circle started from a blank circle not the central point as figure1 shown. How to make it start from the central point?

The color in the legend is interrupted , how to make the color connected as the figure 2?

Python 3.6 & Win10

Thanks

![T4{EGAE($% 8_7_8I9NZ38](https://user-images.githubusercontent.com/19677300/56648840-96b47280-66b6-11e9-8fde-85773c946221.png)
Figure 1

[2019-05-20 19:42] akrherz commented on #81
Note that `poly_between` is now gone with the newly released matplotlib 3.1

[2019-05-27 10:36] schmidt-uni-leipzig commented on #81
+1

Please fix this issue, because with matplotlib 3.1 one gets the following error

`ImportError: cannot import name 'poly_between' from 'pylab'`

[2019-05-27 20:57] scls19fr commented on #81
I'm currently away... with only a phone

Could you provide a PR?

A least could you try the workaround described previously?

[2019-06-03 18:38] #81 closed

[2019-06-03 18:38] #37 closed

[2019-06-07 08:09] scls19fr opened #116 "Update manual PyPi upload"
The release procedure need to be updated for manual upload of Pypi package because I'm currently getting

[code]

[2019-06-07 08:24] #116 closed

[2019-06-07 08:24] scls19fr commented on #116
using `twine`

[2019-06-08 15:51] JoeLeung2018 opened #117 "windrose deprecated function which cannot work with python3.6.2 and newest matplotlib?"
I am using the following codes to call windrose.py:

[code]
The following is some messages of those deprecated function :
[code]
What's wrong and How can I fix the problem?
Thanks for your kindness and reply.

[2019-06-08 16:01] scls19fr commented on #117
https://github.com/python-windrose/windrose/pull/83 (by @weber-s ) added the use of `docstring.Appender` maybe he can have a look

[2019-06-08 16:06] JoeLeung2018 commented on #117
The following is part of the winrose.py:

def _autogen_docstring(base):
    """Autogenerated wrappers will get their docstring from a base function
    with an addendum."""
    # msg = "\n\nAdditional kwargs: hold = [True|False] overrides default hold state"
    msg = ""
    addendum = docstring.Appender(msg, "\n\n")
    return lambda func: addendum(docstring.copy_dedent(base)(func))

docstring.Ap

[2019-06-08 16:12] JoeLeung2018 commented on #117
The following is part of the winrose.py:

def _autogen_docstring(base):
    """Autogenerated wrappers will get their docstring from a base function
    with an addendum."""
    # msg = "\n\nAdditional kwargs: hold = [True|False] overrides default hold state"
    msg = ""
    addendum = docstring.Appender(msg, "\n\n")
    return lambda func: addendum(docstring.copy_dedent(base)(func))

docstring.Ap

[2019-06-08 16:23] scls19fr commented on #117
Please use triple triple backticks ```
when pasting code (see my edit)
https://help.github.com/en/articles/creating-and-highlighting-code-blocks

[2019-06-08 16:39] JoeLeung2018 commented on #117
'''
def _autogen_docstring(base):
    """Autogenerated wrappers will get their docstring from a base function
    with an addendum."""
    # msg = "\n\nAdditional kwargs: hold = [True|False] overrides default hold state"
    msg = ""
    addendum = docstring.Appender(msg, "\n\n")
    return lambda func: addendum(docstring.copy_dedent(base)(func))

'''
docstring.Appender and copy_dedent are all dep

[2019-06-08 16:41] JoeLeung2018 commented on #117
[code]

[2019-06-08 16:42] JoeLeung2018 commented on #117
Thanks for the triple backticks:
[code]

docstring.Appender and copy_dedent are all deprecated ?

[2019-06-08 16:42] JoeLeung2018 commented on #117
The following is part of the winrose.py:

[code]
docstring.Appender and copy_dedent are all deprecated ?

[2019-06-08 16:44] JoeLeung2018 commented on #117
The problem is still there and I don't know how to solve it .

[2019-06-08 16:46] JoeLeung2018 commented on #117
please visit  https://github.com/python-windrose/windrose/blob/master/windrose/windrose.py
[code]

docstring.Appender and copy_dedent are all deprecated ?

[2019-06-10 17:03] weber-s commented on #117
Hei!

Should be fixed now in the PR.

[2019-06-10 18:00] #117 closed

[2019-06-10 18:05] scls19fr commented on #117
Thanks to PR https://github.com/python-windrose/windrose/pull/118 from @weber-s this issue have been fixed.
@JoeLeung2018 could you give it a try to latest development version?
see https://github.com/python-windrose/windrose#install-latest-development-version for install

[2019-06-28 18:37] mariopareto opened #119 "The Appender class was deprecated in Matplotlib 3.1 and will be removed in 3.3. Warning"
After updating the matplotlib to 3.1, the windrose package rises a warning about the appender class:

C:\Users\mariod\AppData\Local\Continuum\anaconda3\envs\defaultenv\lib\site-packages\windrose\windrose.py:29: MatplotlibDeprecationWarning:
The Appender class was deprecated in Matplotlib 3.1 and will be removed in 3.3.
  addendum = docstring.Appender(msg, "\n\n")

[2019-06-28 19:41] scls19fr commented on #119
Thanks for reporting.
Could you ask to Matplotlib devs what should be used instead?

[2019-08-05 09:07] pooranasaviour commented on #37
Hallo, I have the same problem. Here are the last lines from the error message:
'ImportError: cannot import name 'poly_between' from 'pylab' (C:\ProgramData\Anaconda3\lib\site-packages\pylab.py)'
I am using python 3.7.1 (Anaconda)

[2019-08-05 19:24] scls19fr commented on #37
You should uninstall windrose...

Try it's correctly uninstalled (`import windrose` should fail)

Then install latest development version

https://github.com/python-windrose/windrose#install-latest-development-version

[2019-08-15 09:17] dancergraham opened #122 "DeprecationWarning : ABCs should now be imported from collections.abc"
Hello,

Thank you for this package!  I got some deprecation warnings when running the tests.

EDIT : oops maybe this is an issue with an out of date version of Pandas in my environment

To reproduce :
 - Install to Python 3.7 with `python setup.py install`
 - Run the tests with `pytest -vv tests/test_windrose.py::test_windrose_np_plot_and_pd_plot`

C:\Users\KNAPP\AppData\Local\Continuum\anaconda3\

[2019-08-15 09:40] #122 closed

[2019-08-15 11:19] dancergraham commented on #119
This was fixed in https://github.com/python-windrose/windrose/pull/118 and can now be closed, as far as I can see (tested on Python 3.7 for Windows)

[2019-08-15 20:55] scls19fr commented on #119
oh yes @dancergraham ! it looks duplicate of #117 which was already fixed (by PR #118)

[2019-09-18 13:20] SAKURALFJ opened #123 "Axis settings"
The current version can only display the number of times on the y-axis. How can I set the parameter display frequency?

[2019-09-19 05:53] scls19fr commented on #123
Hi @SAKURALFJ

Could you be more explicit about what you are calling "display frequency"?

Can you show us an example about what is currently displayed and what you are looking for to be displayed?

Kind regards

[2019-11-25 17:02] estherroosenbrand opened #124 "Scatter plot wrscatter over contourf"
Hi,
I'd like to overlay a wind rose made with contourf() with a wrscatter plot.
This is my MWE:

[code]

Now the two plots are separate but I'd like them to be overlain in one plot.
Appreciate the help!

[2019-11-25 18:04] kthyng commented on #41
It looks like this should now link here instead: https://github.com/python-windrose/windrose/issues/20

[2019-12-03 10:10] Cgadal opened #125 "Grid under bar plot"
How do I put the grid lines under the bar plot ?

I have tried to play with the zorders, as well as with `a.set_axisbelow(True)`, but it did not change anything.

[2020-01-16 06:10] kaelel18 opened #126 "Remove the histogram bins in weibull distribution"
Hi. I'm trying to remove the histogram bins in the Weibull in the .pdf module. In the API, it notes bins=None. I tried doing it, but the bins are still there. How do I remove the bins so that the distribution line will only be seen? thanks

[2020-02-05 20:27] scls19fr opened #127 "Citations"
Hello,

just a few words to tell python-windrose contributors that windrose is cited in the following paper.

Daniel Fosas, Francis Moran, Sukumar Natarajan, John Orr & David Coley (2019) The importance of thermal modelling and prototyping in shelter design, Building Research & Information, DOI: https://www.tandfonline.com/doi/full/10.1080/09613218.2019.1691489

Kind regards

[2020-02-20 16:33] mwheels commented on #56
PR: #128

[2020-02-23 21:30] #56 closed

[2020-02-28 20:12] bnando opened #129 "MatplotlibDeprecationWarning"
When using windrose library, the following deprecation warning is always displayed:

[code]

warnings.filterwarnings("ignore") doesn't clear this message

[2020-02-28 20:44] scls19fr commented on #129
Hello,

It seems to me that it's a duplicate of #117
Fixed by #118
Please use latest development version
https://github.com/python-windrose/windrose#install-latest-development-version

Kind regards

[2020-02-28 20:44] #129 closed

[2020-03-29 18:27] nalfahel opened #130 "Increasing the fontsize of the direction labels around the wind rose"
Hello! I would like to increase the font size of the direction labels (N, N-E, ...) that are around the wind rose. How could I do so? I am using (ax=WindroseAxes.from_ax())

[2020-04-12 18:46] rabaneda commented on #130
Hi nalfahel!

It seems developers are not answering yet. Here you have a solution which I recommend you to use whenever you plot something with matplotlib:

import matplotlib.pyplot as plt

fig = plt.figure(figsize=(15,20))
SMALL_SIZE = 10
MEDIUM_SIZE = 12
BIGGER_SIZE = 15
plt.rc('font', size=MEDIUM_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=SMALL_SIZE)     # fontsize of

[2020-04-12 18:57] rabaneda opened #131 "ax.set_legend() doesn't allow setting fontsize in the legend"
Hi!

First, thank you for creating this small, but useful package for python.

I found that using ax.set_legend() doesn't allow to change the font size of the numbers within the legend. Indeed, you can add the argument "fontsize=10", for instance, but this will only change the size of the colored rectangles within the legend, but not the font size. I've tried also adding "prop={'size': 6}" as an a

[2020-04-12 19:04] rabaneda commented on #111
Hi!

First, thank you for creating this small, but useful package for python.

I found that using ax.set_legend() doesn't allow to change the font size of the numbers within the legend. Indeed, you can add the argument "fontsize=10", for instance, but this will only change the size of the colored rectangles within the legend, but not the font size. I've tried also adding "prop={'size': 6}" as an a

[2020-04-12 19:07] #131 closed

[2020-04-15 14:30] juliusczm opened #132 "Legend labels and frequency predefined"
Dear,

Im trying to modify legend labels using:
ax.set_legend(labels=['[1.0 - 1.5)', '[1.5 - 2.0)', '[2.0 - 3.0)', '[3.0 - 5.0)', '> 5.0'])

but it doesn't work (as img below)
![image](https://user-images.githubusercontent.com/45216528/79348743-c7b33600-7f0b-11ea-8fe3-7f4d25e41287.png)

I also would like to know if I can chose a y frequency in order to can compare 2 windrose with the same y axis.

[2020-04-16 17:05] juliusczm commented on #132
I managed to do change legend labels using:
ax.legend_ = mpl.legend.Legend(ax, ax.patches_list, ["[1.0 - 1.5)", "[1.5 - 2.0)", "[2.0 - 3.0)", "[3.0 - 5.0)", "> 5.0"] , title="Velocidade (m/s)")

but I can't choose a preset frequency yet, is It possible?

[2020-04-16 17:39] juliusczm commented on #132
I got it.

Just use:
ax.set_yticks(np.arange(5, 35, step=5))
ax.set_yticklabels(np.arange(5, 35, step=5))

[2020-04-16 17:39] #132 closed

[2020-06-14 09:49] mindey opened #133 "Color-coding directions."
I'd like to have the wind rose diagram with color-coding for directions, i.e., a bit like:

![](https://avatars0.githubusercontent.com/u/66762092?s=400&u=9ee6b85fcd2b401bdd48f7d500160f0a76496f5b&v=4)

so that we can have a different color per direction, and ideally, colors fusing like rainbow, via fade-in-fade-out like effect between them.

This is already possible? (If so, sorry for not looking d

[2020-06-26 02:36] BrianaKay commented on #130
I tried this approach rabaneda but with no luck, do the developers have any other suggestions on how to increase the tiny fontsize of the direction and the percentages within the windrose

[2020-06-26 07:33] TheMetMan opened #134 "KeyError(f"None of [{key}] are in the [{axis_name}]")"
I am using Python 3.8 with windrose installed from conda-forge version 1.6.7 and Matplotlib version 3.2.2
I have a Pandas Dataframe of data from my Campbell Scientific Automatic Weather Station with columns 'WSDir' and 'WSAvg' as shown here:
`                TMSTAMP  WSDir  WSAvg
0   2020-06-26 07:15:00    248    7.2
1   2020-06-26 07:10:00    247    8.6
2   2020-06-26 07:05:00    245    8.6
3   2

[2020-06-26 13:45] nalfahel commented on #130
Hello!

No ... I have not heard from them. Because I was in a rush to publish a
paper back in March, I could not wait for an answer and cheated a little
bit... By overprinting ... I created patches and positioned them on top of
the self generated labels.
If your figure size is the same as mine, I could happily share my code with
you!

Let me know,
Regards,

Nicolas.

On Thu, Jun 25, 2020, 10:37 PM

[2020-06-26 16:15] BrianaKay commented on #130
I figured it out, the second that I actually posted the comment. That's how
it goes, you finally ask for help and then don't need it. I actually had
another question though, how to change the figure size. The function has a
default size of (8,8) and tried to change it because I have a two line
title that is being cut-off at the top.

On Fri, Jun 26, 2020 at 6:45 AM nalfahel <notifications@github.c

[2020-06-26 16:30] nalfahel commented on #130
Could you post your code then? :)
About your other question... How do you define your plot? It would be cool
if you could send me your code so I see how you try to fix your problem!

On Fri, Jun 26, 2020, 12:16 PM BrianaKay <notifications@github.com> wrote:

[2020-06-27 01:03] BrianaKay commented on #130
plt.figure(2)
plt.figure(figsize=(20,20))

SMALL_SIZE = 10
MEDIUM_SIZE = 20
BIGGER_SIZE = 15
plt.rc('font', size=MEDIUM_SIZE) # controls default text sizes
plt.rc('axes', titlesize=MEDIUM_SIZE) # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_SIZE) # fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE) # fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE

[2020-06-27 06:34] TheMetMan commented on #134
I have discovered my error!
`var_name=self.df['WSAvg'], direction_name=self.df['WSDir']`
should be this:
`var_name='WSAvg', direction_name='WSDir'`
Sorry!!!!

[2020-06-27 06:34] #134 closed

[2020-07-02 11:55] GeoffreyJohnen opened #135 "Dedent function is deprecated"
Hi,

It seems I can't use the windrose package because of :
EDIT : I can use it totally fine, but I have a warning.

"The dedent function was deprecated in Matplotlib 3.1 and will be removed in 3.3. Use inspect.cleandoc instead.
  return lambda func: addendum(docstring.copy_dedent(base)(func))"

I am using python 3.8.3 with the following libraries :

atomicwrites==1.4.0
attrs==19.3.0
colorama==0.4

[2020-07-20 15:24] jtprobst opened #136 "Incompatibility with Matplotlib 3.3.0"
We discovered a regression with the latest release of Matplotlib (version 3.3.0).

To reproduce:
[code]

I reproduced this error on Ubuntu 18.04 LTS (Python 3.6.9 as seen above) and also with a vanilla Ubuntu 20.04 inside Docker (Python 3.8.2, matplotlib 3.3.0, windrose 1.6.7).

It can be seen [in the API changes document](https://matplotlib.org/3.3.0/api/api_changes.html) that `docstring.Appender

[2020-07-20 15:36] AndyLuckert commented on #119
I'm sorry to tell you that **the issue came back**, but this time not as a warning: **now it's become an error** which prevents the scripts from being executed properly:

[code]

I assume that this changed after having updated all python packages like 1 hour ago.
Now, the versions of windrose and matplotlib are the following:

[code]

How can I fix this issue?

[2020-07-20 15:38] AndyLuckert commented on #117
The compatibility issue between matplotlib and windrose **came back as error** related to `AttributeError: module 'matplotlib.docstring' has no attribute 'Appender'`.

I've already commented on the prematurely closed issue:
https://github.com/python-windrose/windrose/issues/119#issuecomment-661115579

[2020-07-21 18:48] dancergraham commented on #136
Hi Johannes,

### Workaround

I think this has been fixed in the latest version on GitHub - I have tested under Python 3.8 with the latest matplotlib version from conda (3.2.2) and get no errors.  First remove your existing windrose installation then
`pip install git+https://github.com/python-windrose/windrose`
to install

### Fix

This needs a new version to be pushed to pypi

[2020-07-21 18:49] dancergraham commented on #135
https://github.com/python-windrose/windrose/issues/136#issuecomment-662042174

[2020-07-21 18:49] dancergraham commented on #119
https://github.com/python-windrose/windrose/issues/136#issuecomment-662042174

[2020-07-21 19:12] jtprobst commented on #136
Hi Graham,
thanks for your message! Very glad to hear that this is already fixed.
I saw that @scls19fr has been taking care of the releases so far. Maybe he could do one for us soon? This would be much appreciated! Merci d'avance.
Johannes

[2020-08-04 08:44] yngwaz opened #137 "windrose plot sectors show straight line instead of curved ones"
Following the minimal example of https://windrose.readthedocs.io/en/latest/usage.html#script-example
I obtain a windrose plot which shows a straight line for each sector (instead of a curved one).

![Figure_1](https://user-images.githubusercontent.com/12328192/89272649-be76e200-d63e-11ea-97ad-fd1ba5831c89.png)

Same happens for more elaborate examples.
However, following the sample script for a po

[2020-08-04 09:48] AndreasLuckert commented on #119
It's true that the mentioned workaround `pip install git+https://github.com/python-windrose/windrose` makes the error vanish, but nonetheless I'd be great if the standard installation command `pip install windrose` made it work directly.

[2020-08-04 10:44] yngwaz commented on #137
The workaround for this issue (found by my colleague at work) is as follows:
[code]

![wr_plot](https://user-images.githubusercontent.com/12328192/89285135-21bd4000-d650-11ea-8734-e19e7f506ed7.png)

[2020-09-10 11:43] weber-s commented on #130
Hello,

Just for completness: windrose use regular matplotlib function and a windrose ax inherit from a PolarAxe. So every matplitlib function apply to windrose. You can then customize the tick labels as follows:

[code]

![image](https://user-images.githubusercontent.com/25247745/92724546-1a820400-f36b-11ea-8744-3c7c87ee1ff5.png)

Or you can also keep the default label but change the formatting l

[2020-09-10 12:15] weber-s commented on #125
Hello,

Windrose change the base Zorder for every drawing to default to -1000, in order to have the grid on. Otherwise, strange things happen for the yticklabels:

![image](https://user-images.githubusercontent.com/25247745/92727341-3daeb280-f36f-11ea-9f02-e78bcb258325.png)

the `ax.set_axisbelow(True)` simply put all axis zorder to 0.5, which is still faaar from the -1000...

So if you want to pu

[2020-09-10 12:59] weber-s commented on #124
Hello,

You have several issue with your code. You create first 2 figures, then call the `WindroseAxe.from_ax()` , which also create a figure if none is passed.

Also, the wrapper `windrose.wrscatter` accept an `ax` argument, to specify on which axe you want to plot. Also, you have to specify the zorder to plot it above your contour plot. So here is the updated code:

[code]

[2020-09-10 15:53] #109 closed

[2020-09-14 08:34] weber-s opened #142 "Tag/release v1.6.8 ?"
To my understanding, package is build and uploaded to pypi based on new tag.

I don't have direct write access to this repo, so I can't push tags or manually create one. I would be nice to

[code]

in order to have the build on pypi.

[2020-09-14 09:06] scls19fr commented on #142
@weber-s you have been granted write access to this repo.
If you need something else, just ask.

[2020-09-14 09:08] weber-s commented on #142
Thank you very much! I just pushed the new tag. Hope it works :)

[2020-09-14 09:09] #142 closed

[2020-09-14 10:41] weber-s commented on #136
Hello,

I should be fixed with the latest pypi version:

[code]

[2020-09-14 10:41] #136 closed

[2020-09-14 10:41] weber-s commented on #135
Hello,

I should be fixed with the latest pypi version:

[code]

[2020-09-14 10:41] #135 closed

[2020-09-14 10:42] weber-s commented on #119
Hello,

I should be fixed with the latest pypi version:

[code]

[2020-09-14 10:42] #119 closed

[2020-09-14 11:01] weber-s commented on #87
It is now possible with v1.6.8, and documented here:  https://windrose.readthedocs.io/en/latest/usage.html#overlay-of-a-map

Do we wan't a full built-in integration of this in windrose?  Right now, it's work thanks of a bit of matplotlib tweaking.

[2020-09-15 10:42] #76 closed

[2020-09-15 10:48] weber-s commented on #41
Indeed, I close this issue. https://github.com/python-windrose/windrose/issues/20#issuecomment-239762028

[2020-09-15 10:48] #41 closed

[2020-09-15 10:56] weber-s commented on #36
4 years later, it runs as expected:

[code]
correctly format the r-axis.

[2020-09-15 11:05] weber-s commented on #36
I think the issue is solved, according to this minimum example:

[code]

[2020-10-02 20:53] dancergraham commented on #133
Hello,
Do you have a specific use case for this?  I think you might need to use a different plotting tool - it sounds like it is out of scope for this library - wind roses are usually colored by speed.

[2020-10-05 03:38] mindey commented on #133
@dancergraham yes, I'd like to color [dimensions of happiness](https://0oo.li/method/955/dimensions-of-happiness), check out [this video](https://youtu.be/LaKtTlj75HM?t=27). ;)

[2020-10-08 23:55] fgroff opened #147 "Map Projection/Labels Not Correct"
I was following your tutorial (https://windrose.readthedocs.io/en/latest/usage.html) line by line, and I do not have the same direction labels (see figure 1).
![Figure_1](https://user-images.githubusercontent.com/40182667/95524515-d5171d80-098e-11eb-9296-51da8d675619.png)

I did another check w/ fake data, and as you can see in Figure_2, the labels are off by 90 degrees:

ws = np.array([1,1,1,10,1

[2020-10-09 09:28] beninie commented on #147
I encountered the same problem yesterday. Sorry to say that I have not yet found a solution, hopefully someone find a way to fix this.

[2020-10-09 16:46] fgroff commented on #147
My "solution" was to override the labels.

coordinates = ('E','NE','N','NW','W','SW','S','SE')
ax.set_xticklabels(coordinates)

Definitely doesn't make me feel great, but I did a lot of checks and the
data seems to be plotting in the right spaces and in the right direction,
so that was my intermittent fix.

On Fri, Oct 9, 2020 at 3:28 AM beninie <notifications@github.com> wrote:

[2020-10-22 13:42] domja-bas commented on #147
You should be able to get around this temporarily through the following:
`ax = WindroseAxes.from_ax(theta_labels=["E", "N-E", "N", "N-W", "W", "S-W", "S", "S-E"])` although it looks like the maintainers have already created a branch to fix this particular issue. Shouldn't be long now!

[2020-10-27 04:55] wjjxjd opened #148 "How to set continuous windrose colorbar!"
Hi,
You do a good job. How to set continuous colorbar like this?
![Screenshot from 2020-10-26 21-30-24](https://user-images.githubusercontent.com/42741696/97258412-54439700-1853-11eb-97cc-c79398f43c4d.png)

[code]

![demo](https://user-images.githubusercontent.com/42741696/97258503-8228db80-1853-11eb-8d52-f4651764cfda.png)
This code is set by me using your package.

[2020-11-03 03:18] wsdhrqqc commented on #148
!! Please pay special attention to your figure, with the code you provided, the chart has been rotated for 90 degree and is therefore not showing the right distribution.

[2020-11-04 09:00] wjjxjd commented on #148
Impossible, I read the tutorials like this, may I ask which step is the problem?

[2020-11-04 21:41] wsdhrqqc commented on #148
I believe something between these lines:

str=['N','N-E','E','S-E','S','S-W','W','N-W']
ax.set_xticklabels(str)
ax.set_theta_zero_location('N') #设置零度方向北
ax.set_theta_direction(-1)

I pulled in my data and it shows a 90 degree rotated, that is how i know.

[2020-11-05 02:40] wjjxjd commented on #148
Hi,
The north direction is 0, and the east direction is 90.
str=['N','N-E','E','S-E','S','S-W','W','N-W']
ax.set_xticklabels(str)
ax.set_theta_zero_location('N')
ax.set_theta_direction(-1)
My set I think is right.

This set may be direction is not right.
from windrose import WindroseAxes
from matplotlib import pyplot as plt
import matplotlib.cm as cm
import numpy as np

# Create wind speed and dir

[2020-11-06 22:33] ttllttttlltt opened #149 "Display relative frequency with "%" format"
Hi,

First of all, windrose package is great!
I would like to suggest to add a `fmt` argument for the relative frequency. I showed the windrose plot to others and the main question was what is the number shown here with a `radii_angle`. Then I explained I used the `normed=True` and the numbers there were relative frequency.
So I modified the windrose.py a little bit in section `class WindroseAxes(

[2020-11-21 15:05] HonestyBrave commented on #108
https://www.pythonf.cn/read/85868

you could replace "normed" with "density"

[2020-11-21 15:10] scls19fr commented on #108
PR much appreciated!

[2020-11-25 13:04] dmilstea opened #150 "length of wind direction not equal to wind speed."
I am so glad that someone has provided this package.  I need some help understanding how to use it though.
I get an error that the wind direction and wind speed need to be equal lengths.
This is my data:
wind directions are every 10 degrees.  36 wind directions 0-360
I have 11 bins of wind speed for each wind direction.
Data:
[code]
In your package, the wd and ws are 1 dimensional numpy arrays, so

[2020-12-01 10:07] Umercia opened #151 "wind rose axis"
Hi,

It seems that the default directions along the axis circle is not correct anymore.  0° pointing to East
To use the example in the example notebook:

%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib.cm as cm
import numpy as np
from math import pi
from windrose import WindroseAxes

N = 500
ws = np.random.random(N)*6
wd = np.random.

[2020-12-25 19:12] rngadam commented on #151
Same here with Windrose 1.6.8:

![Screenshot 2020-12-25 at 2 11 02 PM](https://user-images.githubusercontent.com/538542/103140934-18924580-46bb-11eb-88f4-a58fbc67f10e.png)

[2020-12-25 19:17] rngadam commented on #151
Duplicate of #147 ?

[2020-12-27 21:12] waldowda commented on #151
I see the same thing and numbers not directions are labeled. I had to add the axes presumably setting the '0' to E as compensation but the labeling seems off by 90° as noted above.

`ax.set_xticklabels(['E', 'NE','N', 'NW',  'W', 'SW', 'S', 'SE'])`

[2021-02-26 04:40] FFT1368 commented on #151
This is an important issue in which the theta labels in windrose are incorrect. for solving it you can type this line in your code.
Solution:
ax.set_xticklabels((90, 45, 0, 315, 270, 225, 180, 135))

[2021-02-26 04:40] FFT1368 commented on #151
Complete code after solution:

from windrose import WindroseAxes
from matplotlib import pyplot as plt
import matplotlib.cm as cm
import numpy as np
plt.figure()

# Create wind speed and direction variables
ws = np.random.random(500) * 25
wd = np.random.random(500) * 360
ax = WindroseAxes.from_ax()
plt.style.use('fast')
ax.bar(wd, ws, nsector= 36,opening=0.94, bins=np.arange(0, 31, 5),edgecolor='gr

[2021-02-26 05:58] FFT1368 commented on #151
And for having all the grids and numbers every 10 degrees you can use this improved version:

from windrose import WindroseAxes
from matplotlib import pyplot as plt
import matplotlib.cm as cm
import numpy as np
plt.figure()

ws = np.random.random(500) * 25
wd = np.random.random(500) * 360
ax = WindroseAxes.from_ax()
plt.style.use('fast')
ax.bar(wd, ws, nsector= 36,opening=0.94, bins=np.arange(0, 3

[2021-03-11 11:08] cnske opened #153 "Questions: Add a 4th variable to the plot"
Hi,

I'm trying to understand the code you created to apply it to my need to add an additional variable to the plot.

Currently the windrose is able to plot 3 dimensions: winddirection, windspeed intervals and frequency of the respective main directions. I would like to add another dimension, e.g. through the with of the bar or a specific patter on top of the color.

Unfortunately I having some tr

[2021-03-31 13:32] swartmilan commented on #151
@FFT1368 Thank you for your post, I encountered this same issue and fixed it myself, only thinking ofo coming to the known issues section after the fact :/

In your solution, are you keeping the 'W' direction at the _theta = 0_ location on the polar plot? What is your reason for doing this? Another solution would be to set the theta_zero_location to 'N' and then make the _offset=0_, with the direc

[2021-03-31 14:45] swartmilan commented on #149
@ttllttttlltt your solution works a treat, thanks! I agree, it is something worth adding to the release version of _windrose.py_. Below is an example of your suggestion.

![image](https://user-images.githubusercontent.com/45619503/113163251-451ca700-9240-11eb-939f-e677dc13f82f.png)

[2021-04-01 03:51] FFT1368 commented on #151
@swartmilan
Dear Mr.  swartmilan,
I kept theta=0 on West for our company purpose. But if you need to label North as Theta=0 you can use this code for labeling.
I hope it is useful. Please find the program below:

from windrose import WindroseAxes
from matplotlib import pyplot as plt
import matplotlib.cm as cm
import numpy as np

ws = np.random.random(500) * 25
wd = np.random.random(500) * 360
ax =

[2021-04-02 15:12] cheikhnatm commented on #151
Hello @FFT1368, I was wondering which parameters control the values of the frequency ? to have them spaced evenly ? in this picture for example.

![Capture](https://user-images.githubusercontent.com/77613198/113427982-497ac880-93d6-11eb-862b-f08e96cb5400.PNG)

Thank you in advance

[2021-04-04 16:23] swartmilan commented on #151
@FFT1368 Thank you for responding!
I'd like to check my understanding of the _set_theta_zero_location_ function with you if you wouldn't mind.
So the default in matplotlib projections is theta=0° at the EAST location, but most windmasts measure a 0° wind direction at NORTH (I'm presuming your companies data has theta=0° at the WEST location?); so to have matplotlib plot the 0° data at the NORTH lo

[2021-05-24 07:39] garimss opened #154 "ModuleNotFoundError: No module named 'windroses'"
I am getting this error. How to solve this

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-7-11fd51b7e933> in <module>
      1 import matplotlib.pyplot as plt
      2 import matplotlib.cm as cm
----> 3 from windroses import WindroseAxes

ModuleNotFoundError: No module named 'windroses'

Requirement already satisfied: windrose in c:\users\garima\.conda\en

[2021-05-24 07:49] scls19fr commented on #154
Hi,

windroses is not windrose

Hope that helps

[2021-05-24 08:00] garimss commented on #154
still same

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-12-e88298a8ba3d> in <module>
      1 import matplotlib.pyplot as plt
      2 import matplotlib.cm as cm
----> 3 from windrose import WindroseAxes

ModuleNotFoundError: No module named 'windrose'

[2021-07-23 15:04] goharShoukat commented on #58
Hi @LionelR !
Was this functionality added to the library? If not, can you explain your last comment please? I used the ax.set_rorigin to get offset but this is just offsetting the whole scale. It doesnt give me a region for calm representation

[2021-07-23 16:32] goharShoukat commented on #58
I found a way to get around this. Its not the most elegant solution, but it works. The pyplot.text() allows us to place text at a coordinate of our choosing. And you can get this nice circle smack in the middle of the polar plot. Here is the sample code:
`plt.text(0., 0., "Calm", size=18,
         ha="center", va="center",
         bbox=dict(boxstyle="circle")
         )`

[2021-09-15 02:40] sspagnol opened #155 "wrong variable order on call to clean()"
Function clean() is defined like
[code]

but is being called in  plot_windrose_np() as
[code]

So assume simple fix of
[code]

[2021-09-15 09:24] scls19fr commented on #155
PR welcome

[2021-09-16 04:55] scls19fr commented on #155
Thanks @sspagnol for PR
Issue should be closed when PR merged.

[2021-09-16 04:56] #155 closed

[2021-09-17 09:22] sampr7 opened #158 "Change 'inf' label in legend"
_inf_ label in the legend is not appropriate on most of the occasions. Instead of that, a greater than (>) symbol can be added to the maximum value.

legend labels
[0.0 : 2.0 )
[2.0 : 4.0 )
[4.0 : 6.0 )
[6.0 : inf )

from this to this
[0.0 : 2.0 )
[2.0 : 4.0 )
[4.0 : 6.0 )
\>6.0

[2021-09-17 09:35] sampr7 commented on #158
Change
https://github.com/python-windrose/windrose/blob/b602213d9d6250d9e6eebaa7ac992fe9b6ec1b7a/windrose/windrose.py#L215-L230

to
[code]
![windrose2](https://user-images.githubusercontent.com/65779808/133761235-4da074d6-4563-49f7-a313-67da6e5129eb.png)

[2021-10-09 20:07] stackofwits opened #159 "Need full control over legend for hourly wind rose plots"
I am creating wind rose plots for five ASOS stations for both daily and hourly winds, i.e., 25 plots a station. Obviously, there will be some inherent variation in the automatically generated legend values. For example, these are the legend values for the 0000 and 1200 plots, respectively:

![image](https://user-images.githubusercontent.com/92230499/136672498-a808065f-81ff-438e-a38b-5e7700a7917f.p

[2021-10-13 17:59] AndresSepulveda opened #160 "Connecting windrose with wrf-python?"
Hi, I would like to plot a windrose from a WRF output file. Has anyone a sample code available?

This is what I've adapted so far....

`import numpy as np
import pandas as pd
import wrf
from netCDF4 import Dataset
from windrose import WindroseAxes
from matplotlib import pyplot as plt
import matplotlib.cm as cm

nc_file = Dataset("wrfout_d01_2021-09-22_00:00:00")

ws_all = wrf.getvar(nc_file, "wspd

[2021-10-20 12:17] 15b3 opened #161 "Docstring about calm_limit is missing."
There is no mention of the ``calm_limit`` option in the documentation.

I found that there is an ``calm_limit`` option in the source code. However, that option is not written in the API page of readthedocs, nor in the docstring.

[2021-10-25 13:05] 15b3 opened #163 "clean method bug if a var is nan"
The clean function is not properly removing the values.

But...

Example:
[code]
Data is not removed in case that a var is nan.

It should return
[code]

[2021-10-25 14:08] #163 closed, assigned to nobody

[2021-10-26 09:07] 15b3 opened #165 "Default behavior of theta_labels in WindroseAxes.from_ax() is not user-friendly."
Since v1.6.8, the default behavior of theta_labels in WindroseAxes.from_ax() is not user-friendly.

The results of running Tutorial's code ( that is, using the ``WindroseAxes.from_ax()``) in #147 and #151, show that the label of theta is the default of matplotlib, not the default of windrose.

In #140, the implementation of theta_labels has been changed as follows.

“Pop and or"(Before):
[code]

“

[2021-10-26 20:20] #165 closed, assigned to nobody

[2021-10-26 20:22] #161 closed, assigned to nobody

[2021-12-03 10:34] saurabhsrvastav opened #168 "Windrose plottng error"
Hi All, I am trying a series of Python windrose plots but for a certain loop, the windrose display error and doesn't plot anything although there is data in the array. Hereby, I am attaching the error and sample code. Both the array 'th' and 'L' have data without any 'nan' value.
Code:

fig=plt.figure()
        ax = WindroseAxes.from_ax()
        ax.bar(th, L)
        ax.set_legend()

Error:

posx

[2021-12-29 22:47] NilsGaukroger opened #169 "Plot wind rose from frequency table"
I am a working on a project where I have a frequency table which is in an equivalent format to ax._info['table']. I want to plot the wind rose directly from that but can't work out how. Does anyone have any suggestions?

[2022-01-14 07:25] PhilosopherZ opened #170 "Why isn't 0 degrees due north"
Why isn't 0 degrees due north? Why is it not rotating clockwise?

[2022-02-03 14:19] boeske commented on #170
I just ran into the same problem.
0° is in fact North, 90° east and so on.

However the labeling of the axis does not work.
In the first example given in the README the labels read N, N-E, and so on (see https://github.com/python-windrose/windrose/blob/master/docs/screenshots/bar.png).
My modified version of the code looks like this:
`from windrose import WindroseAxes
import matplotlib
from matplo

[2022-02-05 04:27] 15b3 commented on #170
I think your windorose version is v1.6.8.
`WindroseAxes.from_ax()` of v1.6.8 has a bug about label. See #165.

Workaround:
[code]

[2022-03-08 13:55] cnske opened #171 "Combination plot of wind speed and gust speed"
I'm trying to visualize the relationship between winds using wind speed and gust speed measurements for the same locations.
It is no problem the get the figures look correct, but I have quite some issues with the legends. It seems like one colormap is dominating and simply overwrites the other. The legend called 'Gust Speed [m/s]' should actually follow the colormap called Summer, which has not re

[2022-03-13 11:53] 15b3 commented on #171
I don't think windrose officially supports multiple plots on one axe.

windrose's bar and contour methods return None, unlike matplotlib's bar and countor methods.
In other words, `ws` and `gs` in your sample code are None.

Your point about overwriting the color bar is correct, I think.

I don't recommend it, but there are workarounds like this.

[code]

[2022-03-14 10:11] cnske commented on #171
Thanks @15b3 for the tip. I have not noticed that actually.

I will open it as an issue, so that combination plotting will be possible some day in the future.

[2022-03-14 10:14] cnske opened #172 "Support for multiple plots missing"
Windrose's bar and contour methods return None, unlike matplotlib's bar and countor methods.

_Originally posted by @15b3 in https://github.com/python-windrose/windrose/issues/171#issuecomment-1066085172_

[2022-03-15 09:05] FerusAndBeyond commented on #149
Will something like this be merged? It is not possible to understand the plot without the percentage sign at all.

[2022-05-05 13:41] #110 closed

[2022-05-06 05:48] scls19fr commented on #108
Closed by #176

[2022-05-06 05:48] #108 closed

[2022-05-06 14:19] ocefpaf commented on #170
This bug was fixed in https://github.com/python-windrose/windrose/pull/166

I'm preparing a new release soon.

[2022-05-06 14:19] #170 closed

[2022-05-06 14:19] PhilosopherZ commented on #170
你好，我已收到你的邮件。

[2022-05-06 14:20] #154 closed

[2022-05-06 14:24] ocefpaf commented on #151
This was fixed in https://github.com/python-windrose/windrose/issues/165

Please open a new issue if this resurfaces.

[2022-05-06 14:24] #151 closed

[2022-05-06 14:24] ocefpaf commented on #147
This was fixed in https://github.com/python-windrose/windrose/issues/165

Please open a new issue if this resurfaces.

[2022-05-06 14:24] #147 closed

[2022-05-06 14:27] ocefpaf commented on #87
For the sake of flexibility I don't think windrose should provide a built-on method for that. Matplotlib inset is probably the way to go, so folks can use it with any mapping library they choose. While clunky, it is flexible, robust, and mpl is constantly improving on it.

@scls19fr and @weber-s  what do you think? If you agree can we close this one?

[2022-05-06 14:29] ocefpaf commented on #101
Looks like everything is passing and working as expected. Closing this one.

[2022-05-06 14:29] #101 closed

[2022-05-06 14:33] ocefpaf commented on #112
Not sure what you mean. Are you referring to the bins? You can specify those if you want to.

This is beyond the scope of this library but you can overlay a png on GE with one of the many GE libraries that exists out there, or write the kml manually. BTW, check the map overlay in our docs in case you want a static map.

Closing this but please re-open if you have more questions.

[2022-05-06 14:33] #112 closed

[2022-05-06 14:37] ocefpaf commented on #6
These projects are 8 and 10 years old. If they are updated I would suggest they depend on the windrose PyPI package instead.

@scls19fr can we close this one?

[2022-05-06 14:55] #6 closed

[2022-05-06 16:29] ocefpaf commented on #92
@scls19fr if the idea is to automate code standard checks we can use pre-commit-ci for that. I'll send a PR and activate it if you agree.

[2022-05-06 17:55] ocefpaf commented on #168
We cannot debug this without  knowing that are `th` and `L`. Closing this but please feel free to re-open with a minimum dataset that reproduces your error.

[2022-05-06 17:55] #168 closed

[2022-05-06 17:56] ocefpaf commented on #160
As long as you can load the wd and ws are arrays you are on the right path. Not sure if you have an specific questions, so closing this. Feel free to re-open if you have any bugs to report.

[2022-05-06 17:56] #160 closed

[2022-05-06 17:57] ocefpaf commented on #127
@scls19fr this is in the README now. Maybe we can close this/

[2022-05-06 18:21] ocefpaf commented on #32
Closing this as answered. Please re-open if you have further questions on the topic.

[2022-05-06 18:21] #32 closed

[2022-05-06 18:49] ocefpaf commented on #75
This is beyond the scope of the library but an interesting question. Hope you found a solution somewhere. Closing it for now due to inactivity.

[2022-05-06 18:49] #75 closed

[2022-05-06 21:09] #127 closed

[2022-05-08 18:47] #98 closed

[2022-05-09 16:08] #63 closed

[2022-05-18 19:15] weber-s commented on #87
Indeed, to me a detail example in the doc is enough.

[2022-06-30 20:32] ale37911 opened #183 "Standardize or set the circle percentages?"
Is there a way to set the percentage circles plotted/used by windrose.py? In other words, right now when I plot wind data from site A and I set it to normalized, it automatically chooses five circles that seem to fall at random numbers (like 4.6%, 8.9%, 12%, 17% and 20%). Then if I plot site B in the same manner, it choose a different set of five circles. I would like to be able to tell the code p

[2022-07-08 14:37] momofratt commented on #183
Hi ale37911, If I properly understood your question, this should work. You use the set_rticks() method to set the circles and the set_yticklabels() method to set the new labels.

axw = WindroseAxes.from_ax()
axw.bar(frame[wind_dir], frame[wind_speed], normed=True, bins=bins,opening=0.8, edgecolor='black',  cmap=cm.viridis)
axw.set_rticks([5, 10, 15, 20, 25])
axw.set_yticklabels(['5%', '10%', '15%'

[2022-07-25 16:17] evanleeturner commented on #158
I am having this issue as well.  Is there a plan to introduce this fix for the windrose legend?

[2022-07-26 13:34] ocefpaf commented on #158
@sampr7 your fix looks OK to me. Do you want to send a PR?

[2022-07-26 15:58] sampr7 commented on #158
@ocefpaf Sure. Will do

[2022-07-30 07:34] PurveshPatel96 commented on #151
How do you mentioned the % value as a normed/frequency ?

thank you in advance

[2022-08-01 08:57] OneNationLee commented on #130
You can try this:
`xlabels = [i.get_text() for i in ax.get_xticklabels()]

ax.set_xticklabels(xlabels, fontsize = 20)

ylabels = [j.get_text() for j in ax.get_yticklabels()]
ax.set_yticklabels(ylabels, fontsize = 15)`

It works for my script.

[2022-08-01 09:01] OneNationLee commented on #130
You can try this:
[code]

It works for me and more convenient.

[2022-09-12 14:40] guidocioni opened #188 "Positioning wind roses onto an existing x-y axis"
I have a meteogram with many variables and I would like to add a "strip" with wind roses like this

<img width="849" alt="Screen Shot 2022-09-12 at 16 34 46" src="https://user-images.githubusercontent.com/12760310/189682052-fb455818-90db-4986-a9d5-6228f2c7c34f.png">

I'm using gridspec and already made space for an axis (`ax_winds`). Following the example on the documentation I'm trying to create

[2022-09-14 23:15] ali-cole opened #189 "Wind Rose from frequency table"
2 issues have been raised for this problem with no solutions yet, and I've now run into the same thing.
[first issue link](https://github.com/python-windrose/windrose/issues/71), [second issue link](https://github.com/python-windrose/windrose/issues/169)

I need to plot a wind rose from a frequency table, so I would like the option to define wind directions and a table instead of wind directions a

[2022-09-15 15:39] ocefpaf commented on #189
@ali-cole let's close this one as duplicate and, if you don't mind, please add your comment above to the original issue. That should help future devs to address this problem.

[2022-09-15 15:39] #189 closed

[2022-09-15 15:40] #169 closed

[2022-09-19 08:24] NRaillard opened #190 "pacman-shaped wind roses"
Hello, and first of all thanks for this great package.

I have installed the latest version and have some issues that I have not encountered before: the roses are not closed, and looks like a pacman, as it can be seen from the figure enclosed below.

[code]
![image](https://user-images.githubusercontent.com/61309853/190976763-be56224a-fc38-4121-881d-2d74b2d39912.png)

I show here a very simple plo

[2022-09-19 11:23] ocefpaf commented on #190
Looks like a problem with latest matplotlib. I can reproduce it with 3.6.0 but not with 3.5.3.

[2022-09-19 11:33] ocefpaf commented on #190
@dopplershift and @tacaswell do you any advice for us here? I'm reading the changelog and I could not find anything that could be the cause of this changed. The expected output (here using mpl 3.5.3) is:

![Screenshot from 2022-09-19 08-33-25](https://user-images.githubusercontent.com/950575/191008315-d98abe01-4914-40a4-b8fc-b1424d30ff34.png)

[2022-09-19 13:00] ocefpaf commented on #190
Found  it. PR https://github.com/matplotlib/matplotlib/pull/22802 removed `cla` and we should use `clear` instead. PR inbound...

[2022-09-19 14:09] ocefpaf opened #195 "Rename master to main"
@scls19fr what do you think? `main` is the new default on GitHub and it would make it easier for newcomers to contribute to OSS b/c the new docs all will refer to main instead of `master`.

[2022-09-19 14:16] scls19fr commented on #195
I'm aware that master shouldn't be used anymore in such a context
https://www.theserverside.com/feature/Why-GitHub-renamed-its-master-branch-to-main
So I'm ok to rename it to main.

[2022-09-19 16:37] ocefpaf commented on #195
Done! Thanks!!

[2022-09-19 16:37] #195 closed

[2022-09-21 05:02] #190 closed

[2022-09-21 14:11] ocefpaf commented on #158
Thanks @sampr7! We merged #185 and I'll prepare a new release soon.

[2022-09-21 14:11] #158 closed

[2022-09-21 16:46] ocefpaf commented on #188
What happens if you pass the projection in your subplot?

[code]

[2022-09-21 16:50] ocefpaf commented on #172
Indeed. In a way we should mimic mpl but I'm not sure that is possible given the current implementation. I'm closing this as but if you have an idea please send a PR!

[2022-09-21 16:50] #172 closed

[2022-09-21 16:55] ocefpaf commented on #31
@Data-drone I guess one could get the `ax` and plot the marker using the polar coords. Closing this b/c it is a usage question and not something the devs can act upon but let us know if you figure this one out!

[2022-09-21 16:55] #31 closed

[2022-09-21 17:28] #35 closed

[2022-09-21 17:30] ocefpaf commented on #36
Closing this as answered. Please feel free to reopen you disagree.

[2022-09-21 17:30] #36 closed

[2022-09-21 17:32] ocefpaf commented on #42
This should be solved by #185. Please re-open if you disagree.

[2022-09-21 17:32] #42 closed

[2022-09-21 17:40] ocefpaf commented on #58
This was implemented in https://github.com/python-windrose/windrose/pull/102

[2022-09-21 17:40] #58 closed

[2022-09-21 17:40] ocefpaf commented on #87
@scls19fr doing some housekeeping and closing this one. Please re-open if you disagree.

[2022-09-21 17:40] #87 closed

[2022-09-21 17:52] ocefpaf commented on #103
Should be fixed by https://github.com/python-windrose/windrose/pull/146 and we can also override that using mpl like in https://github.com/python-windrose/windrose/pull/120#issuecomment-1253717780.

[2022-09-21 17:52] #103 closed

[2022-09-21 17:58] ocefpaf commented on #111
Closing this as answered. Please re-open if you disagree.

[2022-09-21 17:58] #111 closed

[2022-09-21 18:01] ocefpaf commented on #124
Closing this as answered. Please re-open if you disagree.

[2022-09-21 18:01] #124 closed

[2022-09-21 18:04] ocefpaf commented on #126
Closing this as answered. Please re-open if you disagree.

[2022-09-21 18:04] #126 closed

[2022-09-21 18:05] ocefpaf commented on #123
Closing this as answered. Please re-open if you disagree.

[2022-09-21 18:06] ocefpaf commented on #130
Closing this as answered. Please re-open if you disagree.

[2022-09-21 18:06] #130 closed

[2022-09-21 18:07] ocefpaf commented on #137
Closing this as answered. Please re-open if you disagree.

[2022-09-21 18:10] ocefpaf commented on #123
Actually this one is older. Let's keep it opened.

[2022-09-21 21:14] ocefpaf commented on #149
@ttllttttlltt to be fair I never felt the need to explain these. With that said, if you want to put a pull request, I can review it and help you out with the details.

[2022-09-22 06:41] NRaillard commented on #190
I'm impressed by your reactivity... Thanks !

[2022-09-22 12:11] ocefpaf commented on #125
Closing this as answered. Please re-open if you disagree,

[2022-09-22 12:11] #125 closed

[2022-09-22 12:16] ocefpaf commented on #133
Indeed. Take a look at https://github.com/alfonsosemeraro/pyplutchik, seems to be what you need.

[2022-09-22 12:16] #133 closed

[2022-09-22 12:19] ocefpaf commented on #148
That doesn't look like a continuous colorbar. Do you mean no spaces between the colored boxes?

PS: I'm closing this b/c the discussion diverged from the original question. Please open a new issue stating the problem and commenting on my questions above.

[2022-09-22 12:19] #148 closed

[2022-09-22 12:22] ocefpaf commented on #150
Looks like your data is already binned. I don't think we support that. If you have continuous data then you can use windrose.

Closing this but if you figure something out please post if here for others that may follow.

[2022-09-22 12:22] #150 closed

[2022-09-22 12:29] ocefpaf commented on #171
Indeed. The current way to draw the contours and other patches do not support that. Your workaround is probably the best we can do, or place the figures in different objects. I'm closing this as answered but if someone has a better solution please send a PR!

[2022-09-22 12:29] #171 closed

[2022-09-22 12:54] ocefpaf commented on #190
OSS is more about luck than anything. I have to write some reports this week, which means I'll be procrastinating a lot and choosing "side quests" as much as I can to avoid writing :stuck_out_tongue_closed_eyes:

[2022-09-22 16:04] ocefpaf commented on #190
We are a much smaller project than cartopy and easier to just fix and release a new version ;-p

[2022-09-24 01:18] ttllttttlltt commented on #149
Never mind. Sorry for keeping the issue open for a long time.

[2022-09-24 01:18] #149 closed

[2022-09-24 08:57] guidocioni commented on #188
Yep, that fixes the issue. However now I have two different wind roses appearing...

![bfbde44d-5e30-4baa-9b76-5f3cde5b565c](https://user-images.githubusercontent.com/12760310/192089518-2d46df69-a71d-4834-bfe6-f039c87496f3.png)

Any idea what's going on? For now I'm just plotting a single time step

[code]

[2022-09-24 12:49] ocefpaf commented on #149
Not a problem. Sometimes I'll do some house cleaning and, hopefully, address some low hanging fruit. It is fine to leave issues open.

[2022-09-26 13:45] ocefpaf commented on #188
Not sure. If you can make a self-contained example that one can easily run without external data I can try to debug. My guess is that mpl is drawing the polar axis too and not only just the windrose.

[2022-09-26 15:31] guidocioni commented on #188
I noticed that if I reduce the size of the axis then it seems to fill the background circle.
Anyhow, I took the time and packed a self-contained example with some test data (you need some data to plot...): it's really small, have a look.

https://drive.google.com/file/d/1SZo0rzTIO6nSDkHVywXg_NeZEX7ptg5L/view?usp=sharing
https://drive.google.com/file/d/14WfhMxCta5xHjkulaznmgxj6lUzt-Rcm/view?usp=sha

[2022-10-06 12:59] ulra7 opened #204 "Superimpose roses"
I wish to plot two series in the same figure. Like this:
![A4_ROSE](https://user-images.githubusercontent.com/109068563/194316054-a65a5647-0115-451c-8c80-3cb924f48384.png)
The figure above was produced by plotting the two roses separately, removing the axes for the orange part, saving them as images, and then using _image.paste()_

I am trying to get the same result from plotting directly on the s

[2022-11-15 20:54] WeatherQueen opened #207 "Label Each Wind Sector with Percentage"
I need to add the percentage labels like in this image:
![image](https://user-images.githubusercontent.com/64420572/202023056-3098fcb6-7ba9-406a-aeaf-bec6b0efbe77.png)
To this image using the python windrose code.
![image](https://user-images.githubusercontent.com/64420572/202022990-ea7468a6-9124-4879-a2dc-cfe6e0154f3a.png)

Any ideas? Thanks in advance for your help!

[2022-11-22 04:28] winash12 opened #208 "Unable to install version 1.8.0"
When installing the latest version I get this error

`/usr/lib/python3.8/distutils/dist.py:274: UserWarning: Unknown distribution option: 'use_scm_version'
  warnings.warn(msg)
Traceback (most recent call last):
  File "setup.py", line 3, in <module>
    setup(
  File "/usr/lib/python3/dist-packages/setuptools/__init__.py", line 144, in setup
    return distutils.core.setup(**attrs)
  File "/usr/l

[2022-11-22 05:01] #208 closed

[2022-11-22 05:15] winash12 opened #209 "How does one names of directions such as N, NE W instead of numbers such as 0, 90 etc ?"
![windrose](https://user-images.githubusercontent.com/9129700/203227323-33a518ca-8a56-451c-9c3d-1f1b6fe1aa90.png)

In my code I want to plot names of direction along the windrose instead of 0, 90, 180 or 270. How can I do that ?

`ax = WindroseAxes.from_ax()
ax.bar(wd, ws, normed=True, opening=0.8, edgecolor='white')
ax.set_legend()`

[2022-11-22 17:23] ocefpaf commented on #209
You can customize that with `theta_labels` or edit it `ax.set_xticklabels` after you created the `ax` object.